<body>
{% extends "base.html" %}


{% block alert %}{% endblock %}

	{% block content %}
		<form id="form" method="get">
			<label>
				Début :
				<input type="date" name="start"/>
			</label>
			<label>
				Fin :
				<input type="date" name="end"/>
			</label>
			<br>
			<label>
				Inclure le champs answers :
				<input type="checkbox" name="include_answers">
			</label>
			<label>
				Inclure les tags :
				<input type="checkbox" name="include_tag">
			</label>
			
			<acronym title="Exercices dont les feuilles sont encore disponible">
				<label>
					Inclure pl actifs seulement :
					<input type="checkbox" name="actif">
				</label>
			</acronym>
			
			<br>
			<acronym title="Personne n'ayant pas encore fait d'exercices">
				<label>
					Exclure les non notés :
					<input type="checkbox" name="exclude_grade">
				</label>
			</acronym>

			
			<label>
				Note minimal :
				<input type="number" name="min" min="0" max="100" placeholder=0>
			</label>
			<label>
				Note maximal :
				<input type="number" name="max" min="0" max="100" placeholder=100>
			</label>
			<br>
			
			
			<label>
				Élèves uniquement :
				<input type="radio" name="type" value="students">
			</label>
			<label>
				Enseignants uniquement :
				<input type="radio" name="type" value="teachers">
			</label>
			<br>
			
			
			<input list="pls" name="pl" placeholder="Choisir un PL" size = "{{ sizeMaxPL }}"/>
			<datalist id="pls">
				{% for pl in pls%}
					<option value="{{ pl[1] }}">{{ pl[1] }} : {{ pl[0] }}</option>
				{% endfor %}
			</datalist>
			
			<input list="activities" name="activity" placeholder="Choisir une activité" size = "{{ sizeMaxActivity }}"/>
			<datalist id="activities">
				{% for activity in activities%}
					<option value="{{ activity[1] }}">{{ activity[1] }} : {{ activity[0] }}</option>
				{% endfor %}
			</datalist>
		
			
			<input list="courses" name="courses" placeholder="Choisir un cours" size = "{{ sizeMaxCourse }}"/>
			<datalist id="courses">
				{% for cours in courses%}
					<option value="{{ cours[1] }}">{{ cours[1] }} : {{ cours[0] }}</option>
				{% endfor %}
			</datalist>
			<br>
			<br>
			
			<label title="Restez appuyé sur Ctrl (Windows/Linux) ou Command (Mac) pour selectionner plusieurs options">
				Choisir un ou plusieurs tags:
				<br>
				<select name="tags[]"  multiple >
					{% for tag in tags%}
						<option value="{{ tag }}">{{ tag }}</option>
					{% endfor %}
				</select>
			</label>

			
			<br>
			<details>
				<summary>Recherche Avancée</summary>
						<input type="number" name="pl2" placeholder = "Choisir un PL spécifique">
						<input type="number" name="activity2" placeholder = "Choisir une activité spécifique" size = 25>
						<br>
						<select name="studentLogin" id="student-select">
							<option value="">--Choisir un élève--</option>
							{% for student in students%}
								<option value="{{ student[0] }}">{{ student[1] }}</option>
							{% endfor %}
						</select>
						
						<select name="teacherLogin" id="teacher-select">
							<option value="">--Choisir un Professeur--</option>
							{% for teacher in teachers%}
								<option value="{{ teacher[0] }}">{{ teacher[1] }}</option>
							{% endfor %}
						</select>
						<input type="number" name="limit" placeholder = "Limité le nombre de résultat" size = 23>



						
			</details>


			<!-- <br>
			I'm here {{ lengthCourse }}
			<br>  -->

			

			
			<br>
			<input type="submit" value="Télécharger" formtarget="_blank"/>
			<input type="reset"/>
		</form>
	
	{% endblock %}
{% block end_script %}
<script type="text/javascript">
	
// const activities = {{activities|tojson|safe}};
// console.log("coucou");
// const form = document.querySelector('#form');
// document.location.href="https://mailetud.u-pem.fr/#1";

// form.addEventListener('change', e => {
// 	console.log("coucou");
// 	 const data = new FormData(form);
// 	for (const entry of data.entries()) {
// 		 console.log(entry);
// 	 }
// });

</script>
{% endblock %}
</body>
