{% extends "base.html" %}


{% block alert %}{% endblock %}

{% block content %}
    <form method="get">
        <label>
            Début :
            <input type="date" name="start"/>
        </label>
        <label>
            Fin :
            <input type="date" name="end"/>
        </label>
        <br>
        <label>
            Inclure le champs answers :
            <input type="checkbox" name="include_answers">
        </label>
        <br>
        <label>
            Choisir un PL spécifique :
            <input type="number" name="pl">
        </label>
        <br>
        <input type="submit" value="Télécharger" formtarget="_blank"/>
    </form>
{% endblock %}
