<link rel="stylesheet" href="{{ static('/playexo/css/playexo.css') }}"/>
{% if extracss %}{{ extracss|safe }}{% endif %}
<div class="card exercise">
    <!-- HEADER -->
    <div class="card-header exercise__header">
        <div class="text-center"><h2 class='exercise__title'>{% if title %}{{ title }}{% endif
            %}</h2></div>
        <div class="float-left"><span class='exercise__author'>{% if author %}{{ author }}{% endif %}</span>
        </div>
    </div>
    <!-- BODY -->
    <div class="card-body exercise__body">
        <!-- INSTRUCTIONS -->
        <div class="exercise__instructions">
            {% if 'text' %}
            {% with texth__=text|markdown %}
            {{ texth__|safe }}
            {% endwith %}
            {% endif %}
        </div>
        <!-- FEEDBACK -->
        <div class="exercise__feedback">
            {% with feedbackh__=(feedback__|markdown) %}
            {{ feedbackh__|safe if feedback__ else "" }}
            {% endwith %}
        </div>
        <!-- FORM -->
        {% csrf_token %}
        <div class="exercise__form">
            {% block form %}{{ form|safe }}{% endblock %}
        </div>
        <br>
        <!-- ACTIONS -->
        <div class="exercise__actions text-center">
            <div class="btn-group" role="group" aria-label="actions">
                <a type="button" class="btn btn-warning action-reset"
                   href="{{ url('playexo:activity', activity_id__) }}?action=reset">
                    <i class="fas fa-undo"></i> Réinitialiser
                </a>
                {% with reroll_limit__=(firstof(settings.reroll,_threshold, 100)) %}
                {% if settings.allow_reroll and grade__|int >= reroll_limit__|int %}
                <a type="button" class="btn btn-warning action-reroll"
                   href="{{ url('playexo:activity', activity_id__) }}?action=reroll">
                    <i class="fas fa-dice"></i> Nouveau tirage
                </a>
                {% endif %}
                {% endwith %}
                <button class="btn btn-info action-save">
                    <i class="fas fa-save"></i> Sauvegarder
                </button>
                <button class="btn btn-primary action-submit"><i class="fas fa-check"></i>Valider</button>
            </div>
            {% if grade__|int > 0 %}
            <br/> <br/>
            <a type="button" class="btn btn-success action-next"
               href="{{ url('playexo:activity', activity_id__) }}?action=next">
                Suivant<span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            {% endif %}
        </div>
        <!-- SPINNER -->
        <div class="exercise__spinner text-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <br/>
    </div>
</div>
<script type='text/javascript' src="{{ static('/playexo/js/playexo.js') }}"></script>
{% if extrajs %}{{ extrajs|safe }}{% endif %}
<script type='text/javascript'>
    $(function () {
        Activity.withEval("{{ url('playexo:evaluate', activity_id__, pl_id__) }}");
    });
</script>
