{% load django_markdown %}

<link rel="stylesheet" href="{{ static('/playexo/css/playexo.css') }}"/>

<div class="card exercise">
    <div class="card-header exercise__header">
        <div class="introduction-center"><h2 class='exercise__title'>{% if 'title'%}{{ title }}{%endif %}</h2></div>
        <div class="introduction-left"><span class='exercise__author'>{% if 'author' %}{{ author }}{% endif %}</span>
        </div>
    </div>
    <div class="card-body exercise__body">
        {% if request.user.profile.can_load and teacher %}
        <div style="background-color:#CCC">
            <u>Note de l'enseignant (visible seulement par les enseignant):</u>
            <br>
            {% with teacherh__=teacher|markdown %}
            {{ teacherh__|safe }}
            {% endwith %}
        </div>
        {% endif %}
        {% if 'introduction'%}
        {% with introductionh__=introduction|markdown %}
        {{ introductionh__|safe }}
        {% endwith %}
        {% endif %}
        <br>
        <center>
            <a style="white-space: normal;"
               href="{% url 'playexo:activity' activity_id__ %}?action=pl&pl_id={{first_pl__}}"
               type="button" class="btn btn-success btn-lg">
                Commencer
            </a>
        </center>
    </div>
</div>
