<ion-card class="exercise d-flex flex-column" id="fs">
    <span class="position-absolute" style="z-index: 1; right: 0 !important;">
        <button class="btn btn-light m-2" id="fullscreen">
            <i class="fas fa-expand"></i>
        </button>
    </span>
    <ion-card-header class="exercise__header">
        <ion-card-subtitle class='exercise__author'>{% if author %}{{ author }}{% endif %}</ion-card-subtitle>
        <ion-card-title class='exercise__title'>{% if title %}{{ title }}{% endif%}</ion-card-title>
    </ion-card-header>
    <!-- BODY -->
    <ion-card-content class="exercise__body" style="height: 100%">
        <!-- INSTRUCTIONS -->
        <div class="exercise__instructions">
            {% if text %}
            {{ text|markdown|safe }}
            {% endif %}
        </div>
        <!-- FEEDBACK -->
        <div class="exercise__feedback">
            {{ feedback__|markdown|safe if feedback else "" }}
        </div>
        <!-- FORM -->
        {% csrf_token %}
        <div class="exercise__form d-flex flex-column">
            {% block form %}{{ form|safe }}{% endblock %}
        </div>
        <br/>
        <!-- ACTIONS -->
        <div class="exercise__actions text-center">
            <div class="btn-group" role="group" aria-label="actions">
                <button class="btn btn-primary action-submit">
                    <i id="validate" class="fas fa-check"></i>
                    <span class="ion-hide-md-down">Valider</span>
                </button>
                {% if tests %}
		  {% if '/demo/' not in request.path %}
                  <a type="button" class="btn btn-primary action-test"
                  href="{{ url('playexo:test_pl', pl_id__)}}"
                  target="_blank" test>
                      <i class="fas fa-angle-double-right"></i>
                      <span class="ion-hide-md-down">Tester</span>
                  </a>
		  {% endif %}
                {% endif %}
		{% if '/demo/' not in request.path %}
                <a type="button" class="btn btn-secondary action-download-env"
                href="{{ url('filebrowser:dlenv', id__) }}" download>
                    <i class="fas fa-download"></i>
                    <span class="ion-hide-md-down">Télécharger l'Environnement</span>
                </a>
		{% endif %}
            </div>
        </div>
        <!-- SPINNER -->
        <div class="exercise__spinner text-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ion-card-content>
</ion-card>

{% if extracss %}{{ extracss|safe }}{% endif %}
{% if extrajs %}{{ extrajs|safe }}{% endif %}

<script type='text/javascript'>
    $(function () {
        Activity.withTest("{{id__}}", "{{session__.id}}", {{ __components|tojson|safe }});
    });
    let doc = document.getElementById("fs");
    let fullscreen = document.getElementById("fullscreen");

    fullscreen.addEventListener("click", () => {
        if (fullscreen.innerHTML == `<i class="fas fa-compress"></i>`) {
            document.exitFullscreen();
            fs.style.background = 'none';
            fullscreen.innerHTML = `<i class="fas fa-expand"></i>`;
        } else {
            if (doc.requestFullscreen) {
                doc.requestFullscreen();
            }
            else if (doc.msRequestFullscreen) {
                doc.msRequestFullscreen();
            }
            else if (doc.mozRequestFullscreen) {
                doc.mozRequestFullscreen();
            }
            else if (doc.webkitRequestFullscreen) {
                doc.webkitRequestFullscreen();
            }
            fs.style.background = 'white';
            fullscreen.innerHTML = `<i class="fas fa-compress"></i>`;
        }
    });
</script>


