<div id='editor-overlay-quickOpenWidget' #quickOpen>
    <mat-form-field>
        <input type="text" placeholder="Quick Open" matInput [matAutocomplete]="auto" autoFocus (blur)='didClose()' [formControl]="form">
    </mat-form-field>
    <mat-autocomplete autoFocus #auto="matAutocomplete" (optionSelected)='didItemSelected($event)' >
        <mat-option *ngFor="let entry of $entries | async" [value]="entry">
            <i class='{{entry.icon}} entry-icon'></i>&nbsp;<span class='entry-name'>{{entry.name}}</span> - <span class='entry-path'>{{entry.path|path}}</span>
        </mat-option>
    </mat-autocomplete>
</div>