<!-- LITTLE HACK TO PRELOAD MONACO EDITOR -->
<ngx-monaco-editor [hidden]='true' [options]='{}' [model]='{}'></ngx-monaco-editor>
<as-split class='h100' direction='horizontal' gutterSize='5' useTransition='true' cdkDropListGroup>
    <ng-container *ngFor='let group of groups'>
        <as-split-area class='editor-group h100' style='overflow: hidden;'>
            <div class='tab-bar'>
                <div [id]='group.id()' class='tab-group' cdkDropList [cdkDropListData]="group.documents" (cdkDropListDropped)="group.drop($event)">
                    <div *ngFor='let tab of group.documents; trackBy: group.trackDocument' [matTooltip]="tab.resource.path"
                        [ngClass]="{'tab-item': true, active: group.isActive(tab), changed: group.isChanged(tab)}"
                        (click)='group.open(tab, true)' cdkDragAxis='x' cdkDrag>
                        <i class="tab-icon {{tab.icon}}"></i>
                        <span>{{tab.title}}</span>
                        <span class='tab-close' (click)='group.close(tab, true)'>&nbsp;&times;</span>
                    </div>
                </div>
                <div class="spacer"></div>  
                <ng-container *ngIf='group.someAction();'>
                    <ng-container *ngIf='group.focused()'>
                        <ng-container *ngFor='let action of group.actions()'>
                            <div class='tab-item' [matTooltip]='action.tooltip' *ngIf='action.condition(group.activeDocument().resource)' (click)='action.invoke(group.activeDocument().resource)'>
                                <i class="{{action.icon}}"></i>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class='tab-item' matTooltip='More Options' [matMenuTriggerFor]="editorMenu">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <mat-menu #editorMenu="matMenu">
                        <button mat-menu-item (click)='group.save(group.activeDocument())'>Save ⌘S</button>
                        <button mat-menu-item (click)='group.saveAll()'>Save All ⌘Alt S</button>
                        <button mat-menu-item (click)='group.close(group.activeDocument(), true)'>Close ⌘K</button>
                        <button mat-menu-item (click)='group.closeAll(true)'>Close All ⌘Alt K</button>
                        <button mat-menu-item (click)='group.closeSaved()'>Close Saved ⌘Alt U</button>
                    </mat-menu>
                </ng-container>
            </div>
            <ng-container *ngFor='let editor of group.editors; trackBy group.trackEditor'>
                <ng-container [ngSwitch]="editor.type()">
                    <code-editor [hidden]='!group.activeEditorIs("code")' *ngSwitchCase="'code'" [editor]='editor'></code-editor>
                    <image-editor [hidden]='!group.activeEditorIs("image")' *ngSwitchCase="'image'" [editor]='editor'></image-editor>
                    <preview-editor [hidden]='!group.activeEditorIs("preview")' *ngSwitchCase="'preview'" [editor]='editor'></preview-editor>
                </ng-container>
            </ng-container>
        </as-split-area>
    </ng-container>
</as-split>