.editor-group {
    position: relative; 
    overflow: hidden;
}

.tab-bar {
    padding: 0;
    .tab-group {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-x: auto;
    }
}

.tab-item {
    &.active {
        background-color: #FFF;
    }

    .tab-icon {
        margin-right: 4px;
    }

    .tab-close {
        font-size: 18px;
        &:hover {
            opacity: 1;
        }
    }
    &.changed {
        border-bottom: 1px solid salmon;
    }

}

.welcome {
    width: 100%;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .welcome-title {
        align-self: center;
    }

    .welcome-section {
        width: 100%;
    }
    
    .welcome-tip {
        border-left: .25em solid #dfe2e5;
        color: #6a737d;
        padding: 0 1em;
    }
    img {
        display: block;
        width: 50%;
        height: auto;
        margin: auto;
    }

    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        height: 32px;
    }
}