%editor-light {
    --activityBar-background: #282c34;
    --activityBar-foreground: #d7dae0;
    --activityBarBadge-background: #4d78cc;
    --activityBarBadge-foreground: #f8fafd;

    --sideBar-background: #f3f3f3;
    --sideBarSectionHeader-background: #dcdcdc;
    --sideBar-hoverBackground: rgba(66, 66, 66, 0.06);

    --statusBar-background: #2f77c2;
    --statusBar-foreground: #ffffff;
    --statusBarItem-hoverBackground: #2c313a;
    --statusBar-noFolderBackground: #21252b;
    --statusBar-debuggingBackground: #7e0097;
    --statusBar-debuggingBorder: #66017a;
    --statusBar-debuggingForeground: #ffffff;
    --statusBarItem-remoteForeground: #f8fafd;
    --statusBarItem-remoteBackground: #4d78cc;

    --tab-foreground: #181a1f;
    --tab-activeBackground: #ffffff;
    --tab-activeForeground: #181a1f;
    --tab-border: #f3f3f3;
    --tab-inactiveBackground: #ececec;
    --tab-hoverBackground: #ffffff;
    --tab-unfocusedHoverBackground: #dcdcdc;

    --terminal-foreground: #c8c8c8;
    --terminal-ansiBlack: #2d3139;
    --terminal-ansiBlue: #61afef;
    --terminal-ansiGreen: #98c379;
    --terminal-ansiYellow: #e5c07b;
    --terminal-ansiCyan: #56b6c2;
    --terminal-ansiMagenta: #c678dd;
    --terminal-ansiRed: #e06c75;
    --terminal-ansiWhite: #d7dae0;
    --terminal-ansiBrightBlack: #7f848e;
    --terminal-ansiBrightBlue: #528bff;
    --terminal-ansiBrightGreen: #98c379;
    --terminal-ansiBrightYellow: #e5c07b;
    --terminal-ansiBrightCyan: #56b6c2;
    --terminal-ansiBrightMagenta: #7e0097;
    --terminal-ansiBrightRed: #f44747;
    --terminal-ansiBrightWhite: #d7dae0;

}

%editor-dark {
    --activityBar-background: #282c34;
    --activityBar-foreground: #d7dae0;
    --activityBarBadge-background: #4d78cc;
    --activityBarBadge-foreground: #f8fafd;

    --sideBar-background: #21252b;
    --sideBarSectionHeader-background: #282c34;
    --sideBar-hoverBackground: #323842;

    --statusBar-background: #21252b;
    --statusBar-foreground: #9da5b4;
    --statusBarItem-hoverBackground: #2c313a;
    --statusBar-noFolderBackground: #21252b;
    --statusBar-debuggingBackground: #7e0097;
    --statusBar-debuggingBorder: #66017a;
    --statusBar-debuggingForeground: #ffffff;
    --statusBarItem-remoteForeground: #f8fafd;
    --statusBarItem-remoteBackground: #4d78cc;

    --tab-foreground: #dcdcdc;
    --tab-activeBackground: #282c34;
    --tab-activeForeground: #dcdcdc;
    --tab-border: #181a1f;
    --tab-inactiveBackground: #21252b;
    --tab-hoverBackground: #323842;
    --tab-unfocusedHoverBackground: #323842;

    --terminal-foreground: #c8c8c8;
    --terminal-ansiBlack: #2d3139;
    --terminal-ansiBlue: #61afef;
    --terminal-ansiGreen: #98c379;
    --terminal-ansiYellow: #e5c07b;
    --terminal-ansiCyan: #56b6c2;
    --terminal-ansiMagenta: #c678dd;
    --terminal-ansiRed: #e06c75;
    --terminal-ansiWhite: #d7dae0;
    --terminal-ansiBrightBlack: #7f848e;
    --terminal-ansiBrightBlue: #528bff;
    --terminal-ansiBrightGreen: #98c379;
    --terminal-ansiBrightYellow: #e5c07b;
    --terminal-ansiBrightCyan: #56b6c2;
    --terminal-ansiBrightMagenta: #7e0097;
    --terminal-ansiBrightRed: #f44747;
    --terminal-ansiBrightWhite: #d7dae0;
}
