{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('activity/css/courses.css') }}"/>
{% endblock %}
{% block content %}
<ion-card>
    <ion-card-header>
        {% if (instructor or request.user.profile.is_admin()) and smalls|length > 0 %}
        <ion-card-subtitle>
            <a href="/activity/dashboard/{{ course_id }}/"> Tableau de bord </a>
        </ion-card-subtitle>
        {% endif %}
        <ion-card-title>{{ name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <section>
            <h2>Professeurs</h2>
                {% for item in teacher %}
                <ion-chip  outline="true">
                    <ion-icon name="contact"></ion-icon>
                    <ion-label>
                        {{ firstof(item.get_full_name(), item.username) }}
                        {% if item.email %} - &lt;{{ item.email }}&gt; {% endif %}
                    </ion-label>
                </ion-chip>
                {% endfor %}
        </section>
        <section>
            <h2>Activités</h5>
            {% if smalls|length > 0 %}
                <ion-grid fixed>
                    <ion-row>
                        {% for item in smalls %}
                            <ion-col size="12"  size-sm="6" size-lg="4">
                            {{ item }}
                            </ion-col>
                        {% endfor %}
                    </ion-row>
                </ion-grid>
            {% else %}
                <h4>Ce cours ne contient aucune activité</h4>
            {% endif %}
        </section>
        <section>
        {% if instructor %}
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        {% endif %}
        </section>
    </ion-card-content>
</ion-card>
{% endblock %}
<!-- activity/add/course_id/input -->