<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UPEM-PL</title>
    </head>
    <body>
        {% if succes %}
             <form  action="../../play/0/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Le fichier a été correctement chargé</p>
                <p>Il y a eu {{ nb_modif }} modifications</p>
                {% if no_modification %}
                 <p>Ces élément n'ont pas pu être modifiés, non présent dans la base de données :</p>
                 <ul>
                     {% for email in no_modification %}
                        <li>{{ email }}</li>
                     {% endfor %}
                 </ul>
                {% endif %}

                <p><input type="submit" value="Retour à l'accueil"/></p>
            </form>
        {% elif error %}
            <p>Le fichier n'a pas pu être chargé correctement</p>
        {% else %}
            <form  action="list/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    {{ form.docfile.errors }}
                    {{ form.file }}
                </p>
                <input type="submit" value="Upload">
            </form>
        {% endif %}
    </body>
</html>