{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('activity/css/courses.css') }}"/>
{% endblock %}
{% block content %}
<ion-card>
    <ion-card-header>
        <ion-card-title>{{course_name}}: {{ firstof(student.get_full_name(), student.username) }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <section>
            <b>Votre moyenne sur l'ensemble du cours : {{ mark }} / 20</b><br>
            <br>
            moyenne la plus forte : {{ max }} / 20<br>
            moyenne de tous les élèves : {{ mean }} / 20<br>
            moyenne la plus faible : {{ min }} / 20<br>
            <br>
            {{ nb_more }}
            {% if nb_more > 1 %}élèves ont {% else %}élève a {% endif %}
            une meilleure moyenne que vous.<br>
            {{ nb_less }}
            {% if nb_less > 1 %}élèves ont {% else %}élève a{% endif %}
            ont une moyenne plus faible que vous.<br>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Activité</th>
                        <th>Note/20</th>
                        <th>N -</th>
                        <th>Moy</th>
                        <th>N +</th>
                        <th colspan='100'>Questions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elem in activities %}
                    <tr>
                        <td class="summary-td">
                            <span>{{ elem.name }}</span>
                        </td>
                        <td>
                            <center>
                            <b>{{ elem.mark }}</b>
                            </center>
                        </td>
                        <td>
                            <center>
                            {{ elem.min }}
                            </center>
                        </td>
                        <td>
                            <center>
                            {{ elem.mean }}
                            </center>
                        </td>
                        <td>
                            <center>
                            {{ elem.max }}
                            </center>
                        </td>
                        {% for item in elem.pl %}
                        <center>
                            <td>
                                <div class="block {{item.state.template}}"><p>{{item.name }}</p></div>
                            </td>
                        </center>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Légende</h2>
            {% for item in state %}
                <div  style="display: flex">
                    <div class="block {{ item.template }}" style="width: 20px; height: 20px;"></div>
                    <span>{{ item }}</span>
                </div>
            {% endfor %}
        </section>
    </ion-card-content>
</ion-card>
{% endblock %}
