{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('activity/css/courses.css') }}"/>
{% endblock %}
{% block content %}
<ion-card>
    <ion-card-header>
        <ion-card-title>{{course_name}}: {{ firstof(student.get_full_name(), student.username) }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Activité</th>
                        <th colspan='100'>Questions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elem in activities %}
                    <tr>
                        <td class="summary-td">
                            <span>{{ elem.name }}</span>
                        </td>
                        {% for item in elem.pl %}
                        <center>
                            <td>
                                <div class="block {{item.state.template}}"><p>{{item.name }}</p></div>
                            </td>
                        </center>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Légende</h2>
            {% for item in state %}
                <div  style="display: flex">
                    <div class="block {{ item.template }}" style="width: 20px; height: 20px;"></div>
                    <span>{{ item }}</span>
                </div>
            {% endfor %}
        </section>
    </ion-card-content>
</ion-card>
{% endblock %}
