{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('activity/css/courses.css') }}"/>
{% endblock %}
{% block content %}
{% if not indices_student %}
<script>
    sessionStorage.setItem("DisplayToastNoData", "1");
    window.location.href = "/activity/play/{{ course_id }}/";
</script>
{% else %}
<ion-card>
    <ion-card-header>
        <ion-card-title>{{ name }}</ion-card-title>
    </ion-card-header>
    {% if groups %}
    <form action="/activity/dashboard/{{ course_id }}/" method="post">
        <select name="list_group" id="list_group">
                <option value="">--Choose an option--</option>
            {% for group in groups %}
                <option type="checkbox" value="{{ group.name }}">{{ group.name.split("_")[1] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Valider"/>
    </form>
    {% endif %}

    <ion-card-content>
        <section>
            <p>
                Seulement les élèves apparaissent dans la table suivante. Les moyennes sont calculées ici en
                faisant une somme des notes, pour chaque élève, sur tous les exercices finaux puis en divisant
                par le nombre total d'exercices déployés sur la matière. Les PLTP n'ont donc pas tous un poids
                équivalent : par exemple, un PLTP avec 10 exercices aura un poids deux fois plus important
                qu'un PLTP contenant 5 exercices. Les notes des utilisateurs enseignants n'entrent pas dans la
                moyenne totale sur tous les utilisateurs du cours.
            </p>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Élève</th>
                        <th colspan="{{ student[0].activities|length - 1 }}">Activités</th>
                        <th>Notes : {{ student[-1].average }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for ind in indices_student %}
                {% set stud=student[ind] %}
                    <tr>
                        <td>
                            <a href="/activity/dashboard/{{ course_id }}/?studentid={{ stud.object.id }}">
                                <ion-chip color="primary" outline="true" color="primary">
                                    <ion-icon name="contact"></ion-icon>
                                    <ion-label>
                                        {{ firstof(stud.object.get_full_name(), stud.object.username) }}
                                        {% if stud.object.email %} - &lt;{{ stud.object.email }}&gt; {% endif %}
                                    </ion-label>
                                </ion-chip>
                            </a>
                        </td>
                        {% for activity in stud.activities %}
                        {% if activity.name %}
                        <td>
                            <p>{{ activity.name }}</p>
                            <a class="progress progress-summary" href="/activity/dashboard/{{ activity.id }}/">
                                {% for item in activity.state %}
                                    <div class="progress-bar {{ item.class }}"
                                            role="progressbar"
                                            style="width: {{ item.percent }}%"
                                            aria-valuenow="{{ item.percent }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100">{{ item.count }}
                                    </div>
                                {% endfor %}
                            </a>
                        </td>
                        {% endif %}
                        {% endfor %}
                        <td>
                            <p>{{ stud.activities[-1]["average"] }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Légende</h2>
            {% for item in state %}
                <div  style="display: flex">
                    <div class="block {{ item.template }}" style="width: 20px; height: 20px;"></div>
                    <span>{{ item }}</span>
                </div>
            {% endfor %}
        </section>
    </ion-card-content>
</ion-card>
{% endif %}
{% endblock %}
