{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('activity/css/courses.css') }}"/>
{% endblock %}
{% block content %}
<ion-card>
    <ion-card-header>
        <ion-card-title>{{ name }}</ion-card-title>
    </ion-card-header>
    {% if len(groups) > 0 %}
    <form action="/activity/dashboard/{{ course_id }}/" method="post">
        <select name="list_group" id="list_group">
                <option value="">--Choose an option--</option>
            {% for group in groups %}
                <option type="checkbox" value="{{ group.name }}">{{ group.name.split("_")[1] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Valider"/>
    </form>
    {% endif %}

    <ion-card-content>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Élève</th>
                        <th colspan="100">Activités</th>
                        <th>Notes : {{ student[-1].average }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for stud in student[0:-1] %}
                    <tr>
                        <td>
                            <a href="/activity/dashboard/{{ course_id }}/?studentid={{ stud.object.id }}">
                                <ion-chip color="primary" outline="true" color="primary">
                                    <ion-icon name="contact"></ion-icon>
                                    <ion-label>
                                        {{ firstof(stud.object.get_full_name(), stud.object.username) }}
                                        {% if stud.object.email %} - &lt;{{ stud.object.email }}&gt; {% endif %}
                                    </ion-label>
                                </ion-chip>
                            </a>
                        </td>
                        {% for activity in stud.activities %}
                        <td>
                            <p>{{ activity.name }}</p>
                            <a class="progress progress-summary" href="/activity/dashboard/{{ activity.id }}/">
                                {% for item in activity.state %}
                                    <div class="progress-bar {{ item.class }}"
                                            role="progressbar"
                                            style="width: {{ item.percent }}%"
                                            aria-valuenow="{{ item.percent }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100">{{ item.count }}
                                    </div>
                                {% endfor %}
                            </a>
                        </td>
                        {% endfor %}
                        <td>
                            <p>{{ stud.activities[-1]["average"] }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Légende</h2>
            {% for item in state %}
                <div  style="display: flex">
                    <div class="block {{ item.template }}" style="width: 20px; height: 20px;"></div>
                    <span>{{ item }}</span>
                </div>
            {% endfor %}
        </section>
    </ion-card-content>
</ion-card>
{% endblock %}
