<div class='editor__tab-bar border-bottom'>
    <div ng-repeat='document in $ctrl.openedDocuments() track by document.path' 
         class='editor__tab-bar-item' 
         ng-class="$ctrl.isSelection(document) ? 'active' : ''">
        <md-tooltip>{{document.path}}</md-tooltip>
        <i class="{{document.icon}}"></i> 
        &emsp;<span ng-click='$ctrl.selectTab(document)'>{{document.name}}</span>&emsp;
        <span ng-click='$ctrl.removeTab(document)'>&times;</span>
    </div>
</div>

<div class='editor__content'>
    <div id='monaco-editor' ng-style='$ctrl.editorWidth()'>
        <!--<h4 class='center-x-y'>Aucun document sélectionné</h4>-->
    </div>

    <div id='editor-preview' ng-if='$ctrl.preview' ng-bind-html='$ctrl.preview | unsafe'>
    </div>
</div>

