.editor__content {
    display: flex;
    height: calc(100% - 60px);
}

#editor-monaco {
    height: 100%;
}

#editor-preview {
    height: calc(100% - 60px);
    width: 50%;
    overflow: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
}