.empty_state {
    pointer-events: none;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
.empty_state mat-icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
   // color: #E05057;
}

.empty_state__title {
    font-size: 24px;
    text-align: center;
}

.empty_state__subtitle {
    font-size: 16px;
    max-width: 600px;
    margin: 8px;
    text-align: center;
}