@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

body {
    overflow: hidden;
}

.page-content {
	padding: 0;
}

/* remove material design focus */
*:focus {
    outline: none !important;
    border: 0 !important;
}

// Loading page
.app-loading {
	background: #E05057;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;

	.spinner {
		margin: 100px auto;
		width: 40px;
		height: 40px;
		position: relative;
		text-align: center;
		color: white;
		-webkit-animation: sk-rotate 2.0s infinite linear;
		animation: sk-rotate 2.0s infinite linear;
	}

	.dot1, .dot2 {
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;

		background-color: white;
		border-radius: 100%;
		
		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.dot2 {
		top: auto;
		bottom: 0;
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
	@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

	@-webkit-keyframes sk-bounce {
		0%, 100% { -webkit-transform: scale(0.0) }
		50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
		0%, 100% { 
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		} 50% { 
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}
}

.spacer {
    flex-grow: 1;
}

.center-absolute {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pointer {
	cursor: pointer;
}