dist: xenial

sudo: false

services: docker

language: python

python:
  - '3.5'
  - '3.6'
  - '3.7'

before_install:
  - git config --global user.name "Travis CI"
  - git config --global user.email "user@example.com"
  - git clone https://github.com/plgitlogin/sandbox.git
  - cd sandbox/
  - ./install.sh
  - python3 manage.py runserver 7000 &> /dev/null &
  - cd ..
  - yes n | ./script/install_release.sh

install:
  - pip install -U wheel setuptools
  - pip install tox-travis
  - pip install codecov

script: tox

after_success: codecov
