wheel
django<3.0.0
django-annoying
django-celery-results==2.3.1
django-extensions==3.1.5
django-hitcount
django-http-method
django-jinja ==2.6.0
django-markdown-deux
django-markdown-app
django-taggit==2.1.0
djangorestframework==3.12.4
dj-database-url==0.5.0
gunicorn
Jinja2==3.0.2
jsonfield
markdown<3.1,>=2.6
markupsafe==2.0.1
mkdocs<=1
mock
oauth2
ply
pydenticon
pygiftparser
pytest
pytest-django
python-magic
pytz
psycopg2-binary>=2.8,<2.9
recommonmark
requests
selenium
sympy
whitenoise
yattag
elasticsearch
urllib3<2,>=1.26.2
plotly
pandas
django_cas_ng
./external_libs/django-enumfields
./external_libs/django-markdown
./external_libs/gitcmd
./external_libs/htmlprint
