wheel
django<3.0.0
django-annoying
django-celery-results
django-extensions
django-hitcount
django-http-method
django-jinja
django-markdown-deux
django-markdown-app
django-taggit
dj-database-url
gunicorn
jinja2
jsonfield
markdown
mkdocs
mock
oauth2
ply
pydenticon
pygiftparser
pytest
pytest-django
python-magic
pytz
psycopg2-binary<=2.8.6
recommonmark
requests
selenium
sympy
whitenoise
yattag
-e git://github.com/qcoumes/django-enumfields.git#egg=django-enumfields
-e git://github.com/qcoumes/htmlprint.git#egg=htmlprint
-e git://github.com/qcoumes/gitcmd.git#egg=gitcmd
-e git://github.com/qcoumes/django-markdown.git#egg=django-markdown
