.editor__tab-content {
    display: flex;
    height: calc(100% - 60px);
}

#monaco-editor {
    height: calc(100%);
}

.editor__tab-bar-item {
    display: inline-flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #5a5a5a;
    font-style: normal;
    padding: 0px 5px;
    background-color: #CCCCCC11;
}

.editor__tab-bar-item.active {
    border-bottom: 1px solid #5a5a5a;
    background-color: #CCCCCC66;
}

.editor__tab-bar-item .icon {
    margin-right: 4px;
}

.editor__tab-bar-item .btn-close {
    opacity: .5;
}

.editor__tab-bar-item .btn-close:hover {
    opacity: 1;
}