mat-accordion {
    margin-bottom: 16px;
}

.mat-expansion-panel-body {
    line-height: 1.8em;
}

.grid {
    column-width: 320px;
    column-gap: 15px;

    a {
        display: block;
    }

    .mat-card {
        cursor: pointer;
        margin: 0 2px 15px;
        display: inline-block;
        width: calc(100% - 32px);
        padding: 0 0 8px;

        .card-icon {
            width: 100%;
            height: 231px;
            width: 100%;
            object-fit: cover;
        }

        .mat-card-content {
            margin-left: 16px;
            margin-right: 16px;
        }

        &:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
    }
}
