.dark-theme {
    --ion-color-dark: #808080;
    --ion-color-dark-rgb: 128,128,128;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #717171;
    --ion-color-dark-tint: #8d8d8d;
    
    --ion-background-color: #292d33;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #15202B;

    --ion-footer-background: #000000;

    --ion-toolbar-background: var(--ion-background-color);
    --ion-toolbar-color: var(--ion-text-color);

    --ion-box-shadow-color: rgba(255,255,255,0.12);

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-backdrop-color: var(--ion-color-step-200);

    --ion-item-background-activated: var(--ion-color-step-50);
    --ion-item-border-color: var(--ion-border-color);

    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
}

.dark-theme ion-footer {
    border-top: 1px solid var(--ion-border-color);
}

.dark-theme ion-card {
    box-shadow: 0 4px 16px var(--ion-box-shadow-color);
}