.editor-host {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: calc(100vh - var(--header-height));
    color: #5a5a5a;
}

.editor-host-container {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex: 1;
    background-color:#F6F6F6;
}

.split {
    position: relative;
    height: 100%;
}

.split-area {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.navigation {
    background: #333333;
    width: 50px;
}

.navigation__content {
    height: calc(100% - var(--tab-height));
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: transparent;
}

.tab-bar {
    z-index: 1;
    display: flex;
    position: relative;
    height: var(--tab-height);
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #dee2e6!important;
    padding: 0px;

    .tab-item {
        display: inline-flex;
        height: 100%;
        align-items: center;
        position: relative;
        font-size: 14px;
        color: #5a5a5a;
        font-style: normal;
        padding: 0px 12px;
        cursor: pointer;
    }
}

/* UTILS */
.spacer {
    flex-grow: 1;
}

.h100 {
    height: 100%;
}


