<div class="sidebar-panel">
    <div class='tab-bar border-bottom'>
        <span>SEARCH</span>       
        <div class="spacer"></div>
<!--         <div class='tab-item' (click)='changeMode("F")' matTooltip='Search File'>
            <i class="fas fa-file"></i>
        </div>
        <div class='tab-item' (click)='changeMode("T")' matTooltip='Search Text'>
            <i class="fas fa-font"></i>
        </div> -->
    </div>
    <div class="sidebar-panel__content">
        <mat-form-field class='search'>
            <input appAutoFocus matInput placeholder="Press enter to search" (keydown)='search($event)' [(ngModel)]='searchValue'>
        </mat-form-field>
        <app-explorer [resources]='result'></app-explorer>
    </div>
</div>