@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

@import 'src/theme/variables';

body {
    overflow: hidden;
}

.page-content {
	padding: 0;
}

/* remove material design focus */
*:focus {
    outline: none !important;
    border: 0 !important;
}

.spacer {
    flex-grow: 1;
}

.center-absolute {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pointer {
	cursor: pointer;
}
