.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0
}

.no-padding-l {
    padding-left: 0
}

.no-padding-r {
    padding-right: 0
}

.btn-dir-options {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 236, 239);
    border-color: rgb(233, 236, 239);
    color: black;
    border-radius: 0;
}

.btn-sep {
    border: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
    cursor: default !important;
}
.btn-sep:hover {
    border: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
    cursor: default !important;
}
.btn-sep:active {
    border: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
    cursor: default !important;
}
.btn-sep:focus {
    border: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
    cursor: default !important;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0) !important;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.opt-drop-entry {
    margin-left: 20px;
}

.dir-opt {
    position: absolute;
    right: 0;
    width: 70px;
    height: 44px;
}

.card-fb {
    margin-bottom: 40px;
}

.card-header-fb {
    background-color: #e9ecef;
}

.fb-tr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.line-num {
    border: 1px solid #e2e2e2;
    text-align: right;
    width: 2%;
    padding: 0 3px 0 0;
    color: #999;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-weight: normal;
    font-size: 12px;
}

.filecontent {
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
    width: 98%;
    background-color: #fafafa;
}

.autoscroll {
    overflow-x: auto;
    padding: 1px;
    margin-bottom: 1.2em;
    position: relative;
}

.line {
    height: 14px;
    margin: 0px;
    white-space: pre-wrap;
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
    font-size: 12px;
}

.btn-dir {
    text-align: left;
}
