{% load django_markdown %}


<link rel="stylesheet" href="{{ static('/playexo/css/playexo.css') }}" />
{% if 'extracss' %}{{ extracss|safe }}{% endif %}
<div class="card exercise">
    <!-- HEADER -->
    <div class="card-header exercise__header">
        <div class="text-center"><h2 class='exercise__title'>{% if 'title'%}{{ title }}{% endif %}</h2></div>
        <div class="text-left"><span class='exercise__author'>{% if 'author' %}{{ author }}{% endif %}</span></div>
    </div>
    <!-- BODY -->
    <div class="card-body exercise__body">
        <!-- INSTRUCTIONS -->
        <div class="exercise__instructions">
            {% if 'text'%}
                {% with texth__=text|markdown %}
                    {{ texth__|safe }}
                {% endwith %}
            {% endif %}
        </div>
        <!-- FEEDBACK -->
        <div class="exercise__feedback">
            {% with feedbackh__=feedback__|markdown %}
                {{ feedbackh__|safe }}
            {% endwith %}
        </div>
        <!-- FORM -->
        {% csrf_token %}
        <div class="exercise__form">
            {% block form %}{{ form|safe }}{% endblock %}
        </div>
        <br/>
        <!-- ACTIONS -->
        <div class="exercise__actions text-center">
            <div class="btn-group" role="group" aria-label="actions">
                <button class="btn btn-primary action-submit"><i class="fas fa-check"></i>Valider</button>
                <a type="button" class="btn btn-secondary action-download-env" href="{% url 'filebrowser:dlenv' id__ %}" download>
                    <i class="fas fa-download"></i> Télécharger l'Environnement
                </a>
            </div>
        </div>
        <!-- SPINNER -->
        <div class="exercise__spinner text-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <br/>
    </div>
</div>
<script type='text/javascript' src="{{ static('/playexo/js/playexo.js') }}"></script>
{% if 'extrajs' %}{{ extrajs|safe }}{% endif %}
<script type='text/javascript'>
    $(function() {
        Activity.withTest("{{id__}}", "{{session__.id}}");
    });
</script>

