<div class='tab-bar' *ngIf="showHeader">
    <span>EXPLORER</span>
    <div class="spacer"></div>
    <div class='tab-item' (click)='didRefresh()' matTooltip='Refresh'>
        <i class="fas fa-sync"></i>
    </div>
</div>
<app-tree class="navigation__content" [nodes]="nodes" (edited)="didEdit($event)" (clicked)="didSelect($event)">
  <ng-container *treeNode="let node">
      <span class='node-label' [id]="node.id" [draggable]="draggable(node)" [dragData]="node.id" [droppable]="droppable(node)" (dropped)="didDropped($event)">
          <img [resourceIcon]="node.data"/>
          <span>{{ node.name }}</span>
      </span>
      <span class='node-option-group'>
          <ng-container *ngFor='let option of options; let i = index'>
              <span id="node-option-{{ i }}-{{ node.data.path }}"
                  class='node-option' [matTooltip]='option.label'
                  (click)='option.action(node, $event)'
                  *ngIf='option.enabled(node.data)'>
                  <i [class]="option.icon"></i>&nbsp;
              </span>
          </ng-container>
      </span>
  </ng-container>
</app-tree>
