.tab-bar {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 0 16px;
}

.mat-tree {
  background-color: transparent;
  padding: 0;
}

.mat-tree-node {
 max-height: 32px;
}

.node-content {
  .node-label {
      display: inline-flex;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
  }

  .node-option-group {
      position: absolute;
      right: 0;
      visibility: hidden;
      font-size: 14px;
      .node-option {
          cursor: pointer;
      }
  }
  &:hover {
    .node-option-group {
      visibility: visible;
    }
  }
}

.dnd-drag {
    opacity: 0.5;
}

.dnd-over {
    box-shadow: inset 0px 0px 0px 2px #CCC;
    background: rgba(66,66,66,0.1);
}
