$header-height: 64px;
$tab-height: 36px;

.host {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: calc(100vh - #{$header-height});
    color: #5a5a5a;
}

.editor-container {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex: 1;
}

.navigation {
    height: 100%;
    overflow: hidden; 
    background-color: #F6F6F6;
}

.tab-bar {
    z-index: 1;
    display: flex;
    position: relative;
    height: $tab-height;
    align-items: center;
    overflow: hidden;
    background-color: #F5F5F5;
    border-bottom: 1px solid #dee2e6!important;

    .tab-item {
        display: inline-flex;
        height: 100%;
        align-items: center;
        position: relative;
        font-size: 14px;
        color: #5a5a5a;
        font-style: normal;
        padding: 0px 12px;
        cursor: pointer;
    }
}

.workspace {
    position: relative;
    height: 100%;
}

.spacer {
    flex-grow: 1;
}

.h100 {
    height: 100%;
}

.editor-home {
    text-align: center;
    padding: 5rem 3rem;
}