<div class='host'>
  <div class='host-container'>
    <navigation #navigation></navigation>
    <as-split direction="horizontal" gutterSize='5' useTransition='true'>    
        <as-split-area class='navigation' style='overflow: hidden;' [size]="navigation.size" [ngSwitch]="navigation.index">
            <explorer *ngSwitchCase="0" [items]='items()' [showHeader]='true'></explorer>
            <search *ngSwitchCase="1" [items]='items()'></search>
            <git *ngSwitchCase="2"></git>
        </as-split-area>
        <as-split-area class='h100' style='position: relative; overflow: hidden;' [size]="100 - navigation.size">
            <as-split class='workspace' direction='vertical' gutterSize='5' useTransition='true' (dragEnd)='debugging.dragEnd($event)'>
                <as-split-area class='h100' style='position: relative; overflow: hidden;' [size]='100 - debugging.size'>
                    <workspace></workspace>
                </as-split-area>
                <as-split-area class='debugging' style='position: relative; overflow: hidden;' [size]='debugging.size'>
                    <debugging #debugging></debugging>
                </as-split-area>
            </as-split>
            <div id='editor-overlay-quickOpenWidget' #quickOpen *ngIf='showQuickOpen'>
                <mat-form-field class='mat-elevation-z2'>
                    <input type="text" placeholder="Quick open a file" matInput [matAutocomplete]="auto"
                        autoFocus (blur)='closeQuickOpen()' [formControl]="quickOpenForm">
                </mat-form-field>
                <mat-autocomplete autoFocus #auto="matAutocomplete" (optionSelected)='quickOpenItemSelected($event)' >
                    <mat-option *ngFor="let entry of quickOpenEntries | async" [value]="entry">
                        <i class='{{entry.icon}} entry-icon'></i>&nbsp;<span class='entry-name'>{{entry.name}}</span> - <span class='entry-path'>{{entry.path}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </as-split-area>
    </as-split>
  </div>
  <mat-progress-bar mode='indeterminate' color='warn' *ngIf='runningTask()'></mat-progress-bar>
  <footer></footer>
</div>