$header-height: 64px;
$tab-height: 36px;

.editor-host {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: calc(100vh - #{$header-height});
    color: #5a5a5a;
}

.editor-host-container {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex: 1;
    background-color:#F6F6F6;
}

.split {
    position: relative;
    height: 100%;
}

.split-area {
    height: 100%;
    position: relative; 
    overflow: hidden;
}

.navigation {
    background: #333333;
    width: 50px;
}

.tab-bar {
    z-index: 1;
    display: flex;
    position: relative;
    height: $tab-height;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #dee2e6!important;
    padding: 0px;

    .tab-item {
        display: inline-flex;
        height: 100%;
        align-items: center;
        position: relative;
        font-size: 14px;
        color: #5a5a5a;
        font-style: normal;
        padding: 0px 12px;
        cursor: pointer;
    }
}

/* FILE ICONS */
.fab.fa-css3 {
    color: #e91e63;
}

.fab.fa-js-square {
    color: #ffd900;
}

.fab.fa-html5 {
    color: #ff9800;
}

.fab.fa-python {
    color: #009688;
}

.fab.fa-markdown {
    color: #2196f3
}

.fas.fa-file-pdf {
    color:#f44336;
}

.fas.fa-file-csv {
    color:#f44336;
}

.fab.fa-java {
    color: #f44336;
}

.fas.fa-file-image {
    color: #ffc107;
}

.fas.fa-code {
    color: #03a9f4
} 
 
/* UTILS */
.spacer {
    flex-grow: 1;
}

.h100 {
    height: 100%;
}


