$header-height: 64px;
$tab-height: 36px;

.host {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: calc(100vh - #{$header-height});
    color: #5a5a5a;
    .host-container {
        display: flex;
        position: relative;
        overflow: hidden;
        height: 100%;
        flex: 1;
    }
}


.navigation {
    height: 100%;
    overflow: hidden; 
    background-color: #F6F6F6;
}

.tab-bar {
    z-index: 1;
    display: flex;
    position: relative;
    height: $tab-height;
    align-items: center;
    overflow: hidden;
    background-color: #F5F5F5;
    border-bottom: 1px solid #dee2e6!important;
    padding: 0px;

    .tab-item {
        display: inline-flex;
        height: 100%;
        align-items: center;
        position: relative;
        font-size: 14px;
        color: #5a5a5a;
        font-style: normal;
        padding: 0px 12px;
        cursor: pointer;
    }
}

.workspace {
    position: relative;
    height: 100%;
}

.spacer {
    flex-grow: 1;
}

.h100 {
    height: 100%;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

#editor-overlay-quickOpenWidget {
    z-index: 100000;
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
    position: absolute;
    top: 36px;
    background-color: white;
    padding: 0 4px;
    mat-form-field {
        width: 100%;
    }
}

.entry-icon {
    font-size: 14px;
}

.entry-name {
    font-size: 14px;
}

.entry-path {
    font-size: 10px;
}

div.mat-autocomplete-panel {
    height: auto;
    max-height: 400px;
    overflow-y: auto;
}

/* 
.fab.fa-css3 {
    color: #e91e63;
}
.fab.fa-js-square {
    color: #ffea00;
}

.fab.fa-html5 {
    color: #ff9800;
}

.fab.fa-python {
    color: #009688;
}

.fab.fa-markdown {
    color: #2196f3
}

.fas.fa-file-pdf {
    color:#f44336;
}

.fas.fa-file-csv {
    color:#f44336;
}

.fab.fa-java {
    color: #f44336;
}

.fas.fa-file-image {
    color: #ffc107;
}

.fas.fa-code {
    color: #03a9f4
} 
*/