$header-height: 64px;
$tab-height: 36px;

.editor-host {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: calc(100vh - #{$header-height});
    color: #5a5a5a;
}

.editor__container {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex: 1;
}

.tab-bar {
    z-index: 1;
    display: flex;
    position: relative;
    height: $tab-height;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #F5F5F5;
}

.tab-item {
    display: inline-flex;
    height: 100%;
    align-items: center;
    position: relative;
    font-size: 14px;
    color: #5a5a5a;
    font-style: normal;
    padding: 0px 12px;
    cursor: pointer;
}

.editor__workspace-area  {
    position: relative;
    height: 100%;
    
    .workspace {
        height: 100%;
        .workspace__editor {
            height: calc(100% - 36px);
        }
    }
    
    .tab-bar  .item-group {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .tab-item {
        background-color: #ecedf0;

        &.active {
            background-color: #FFF;
        }

        .tab-icon {
            margin-right: 4px;
        }

        .tab-close {
            font-size: 18px;
            &:hover {
                opacity: 1;
            }
        }
        &.changed {
            border-bottom: 1px solid salmon;
        }
    
    }

    .code-editor, .preview-editor, .image-editor {
        height: calc(100%);
    }

    .image-editor {
        background-color: #fff;
        background-size: 100% 1.2em;
        background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                        -webkit-linear-gradient(#eee .05em, transparent .05em);
        background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                        -moz-linear-gradient(#eee .05em, transparent .05em);
        background-image: -ms-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                        -ms-linear-gradient(#eee .05em, transparent .05em);
        background-image: -o-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                        -o-linear-gradient(#eee .05em, transparent .05em);
        background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                        linear-gradient(#eee .05em, transparent .05em);
    
        img {
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    
        .code-editor__btn-group {
            position: absolute;
            top: 48px;
            right: 12px;
            width: 32px;
        }

        .code-editor__btn {
            background-color: #ecedf0;
            width: 32px;
            height: 32px;
            border-radius: 2px 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: zoom-in;
            margin-bottom: 8px;
        }
    }

    .preview-editor {
        overflow: auto;
        .preview-editor__content {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 0 12px;
        }
    }
}


.sidebar-panel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ecedf0;
    overflow: hidden;
    
    .tab-bar { 
        font-size: 1rem;
        padding: 0 0 0 16px;
    }
    
    .sidebar-panel__content {
        position: relative;
        margin-top: 8px;
        overflow-y: auto;
        margin: 0;
        height: calc(100% - 36px);
    }
}

.spacer {
    flex-grow: 1;
}

.editor-home {
    text-align: center;
    padding: 5rem 3rem;
}