.host {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: white;
}

.tab-item {
    background: transparent;
}

.debugging__content {
    overflow: auto;
    height: calc(100% - 36px);
    padding: 0;
}