.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
}

.sidenav {
    width: 250px;
}

.toolbar {
    background-color: #FFF;
    color: rgba(0,0,0,.92);
    height: 96px;
}

.toolbar__title {
    margin: 0px 2rem;
    font-size: 24px;
    color: #EA5C33;
}

.toolbar__item {
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    text-decoration: none;
    font-size: initial;
    line-height: 20px;
    color: rgba(0,0,0,.7);
}

.toolbar__item:hover {
    color: #EA5C33;
}
.toolbar__spacer {
    flex: 1 1 auto;
}