<mat-sidenav-container class="container">
  <mat-sidenav class='sidenav' mode="side" #sidenav></mat-sidenav>
  <mat-sidenav-content class='sidenav-content'>
    <mat-toolbar class='toolbar'>
    <img src="/static/client/assets/images/upem.png" width="135" height="70"/>

    <span class='toolbar__title'>{{ title }}</span>
      
    <a class='toolbar__item' routerLink=""><i class="fas fa-graduation-cap"></i>&nbsp;Mes Cours</a>
    <a class='toolbar__item' routerLink="/pleditor"><i class="fas fa-cloud"></i>&nbsp;PL Editor</a>
    <a class='toolbar__item' href="/ask/"><i class="fas fa-question"></i>&nbsp;FAQ</a>
    <a class='toolbar__item' href="/documentation/"><i class="fas fa-book"></i>&nbsp;Documentation</a>
    <a class='toolbar__item' href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a> <!-- TODO if admin -->

    <span class='toolbar__spacer'></span>
    <a class='toolbar__item'><i class="fas fa-user"></i>&nbsp;Log-in</a> <!-- TODO if not logged -->
  </mat-toolbar>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
