.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
}

.sidenav {
    width: 250px;
}

.toolbar {
    background-color: #343A40;
    color: #FFF;
    height: 96px;
}

.toolbar__title {
    margin: 0px 2rem;
    font-size: 24px;
}

.toolbar__item {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    font-size: initial;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.toolbar__item:hover {
    color: rgba(255, 255, 255, 1);
}
.toolbar__spacer {
    flex: 1 1 auto;
}