{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('progress/css/dashboard.css') }}"/>
{% endblock %}
{% block content %}
<ion-card>
    <ion-card-header>
      {% if request.user.is_authenticated and request.user.profile.can_load() %}
      <ion-card-subtitle>
	<a href="progress/student_list/">Voir la progression de mes élèves</a>
      </ion-card-subtitle>
      {% endif %}
      <ion-card-title>Progression personnelle sur la plateforme</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{ first_name }} {{ last_name }}</h1> <br>
      <u>Volumes des travaux :</u>
      <br><br>
      <ul>
	<li>
	  <span style="color: black; font-size:1em" >
	    Nombre d'actions en environnement sécurisé
	  </span> : <b>{{ nb_answer_user }}</b></li>
	<li>
	  <span style="color: black; font-size:1em" >
	    Nombre total de tentatives de réponse
	  </span> : <b>{{ nb_attempt }}</b></li>
	<li>
	  <span style="color: black; font-size:1em" >
	    Nombre d'exercices travaillés sur PLaTon
	  </span> : <b>{{ nb_touched_exos }}</b></li>
	<li>
	  <span style="color: black; font-size:1em" >
	    Points totaux d'apprentissages
	  </span> : <b>{{ total_point }} Pts</b></li>
      </ul>
      <u>Qualités des travaux :</u>
      <br><br>
      <ul>
	<li>
	  <span style="color: black; font-size:1em" >
	    Note moyenne sur les exercices travaillés
	  </span> : <b>{{ "%.2f %%"|format(mean_grade) }}</b></li>
	<li>
	  <span style="color: black; font-size:1em" >
	    Nombre moyen de tentatives par exercices travaillés
	  </span> : <b>{{ "%.2f"|format(mean_attempt) }}</b></li>
      </ul>
      <u>Mesures d'activité cette année :</u> <span style="color: black">année scolaire {{ ybegin }}-{{ yend }}</span>
      <br><br>
      <table>
	<tr>
	  <td class="day_title"></td>
	  <td colspan="5" class="day_title">Sept</td>
	  <td colspan="4" class="day_title">Oct</td>
	  <td colspan="5" class="day_title">Nov</td>
	  <td colspan="4" class="day_title">Dec</td>
	  <td colspan="5" class="day_title">Jan</td>
	  <td colspan="4" class="day_title">Fév</td>
	  <td colspan="5" class="day_title">Mars</td>
	  <td colspan="4" class="day_title">Avril</td>
	  <td colspan="5" class="day_title">Mai</td>
	  <td colspan="4" class="day_title">Juin</td>
	  <td colspan="5" class="day_title">Jui</td>
	  <td colspan="4" class="day_title">Aout</td>
	</tr>
	{% for line in all_days[:-2] %}
	<tr>
	  <td class="day_title">{{ fr_days[loop.index0] }}</td>
	  {% for actions, tenth, strdate in line %}
	  <td>
	    <div class="tooltip-wrap">
	      <svg width="15" height="15">
		<rect class="{{ tenth }}" width="14" height="14" />
	      </svg>
	      {% if actions != -1 %}
	      <div class="tooltip-content">
		<svg height="30" width="200">
		  <rect fill="white"  height="30" width="200" style="stroke-width:1; stroke:rgb(95,95,95)" />
		  <text x="10" y="20" fill="black">{{ actions }} actions le {{ strdate }}</text>
		</svg>
	      </div>
	      {% endif %}
	    </div>
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}

	<tr>
	  <td class="day_title"></td>
	  <td class="space"></td>
	</tr>

	{% for line in all_days[-2:] %}
	<tr>
	  <td class="day_title">{{ fr_days[loop.index0+5] }}</td>
	  {% for actions,tenth,strdate in line %}
	  <td>
	    <div class="tooltip-wrap">
	      <svg width="15" height="15">
		<rect class="{{ tenth }}" width="14" height="14" />
	      </svg>
	      {% if actions != -1 %}
	      <div class="tooltip-content">
		<svg height="30" width="200">
		  <rect fill="white"  height="30" width="200" style="stroke-width:1; stroke:rgb(95,95,95)" />
		  <text x="10" y="20" fill="black">{{ actions }} actions le {{ strdate }}</text>
		</svg>
	      </div>
	      {% endif %}
	    </div>
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
      <br>
      <span style="color: black; font-size:1em" >Journée sans activité : </span>
	<svg width="15" height="15">
	  <rect class="actino" width="14" height="14" />
	</svg> <br>
	<span style="color: black; font-size:1em" >Activité faible </span>
	<svg width="15" height="15">
	  <rect class="acti0" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti1" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti2" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti3" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti4" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti5" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti6" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti7" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti8" width="14" height="14" />
	</svg> &nbsp;
	<svg width="15" height="15">
	  <rect class="acti9" width="14" height="14" />
	</svg> &nbsp; <span style="color: black; font-size:1em" > Activité élevée </span><br>
	<br>
	<u>Notions travaillées :</u>
	<br> <br>
          <p>
	    Attention, la richesse du tableau suivant dépend des
	    méta-données placées par les enseignants éditeurs de
	    ressources dans la plateforme. Suivant les matières ou les
	    activités, beaucoup ou très peu d'information peuvent
	    apparaître. L'objectif est juste de prendre du recul et de
	    regarder le chemin que vous avez parcouru.
	  </p>
        <br>
	<table style="border: solid 1px back">
	  <tr>
	    <th class="notion_td"><span style="color: black;">Notions</span></th>
	    <th class="notion_td"><span style="color: black;">Points cumulés</span></th>
	    <th class="notion_td"><span style="color: black;">Points cette année</span></th>
	    <th class="notion_td"><span style="color: black;">Évolution</span></th>
	    <th class="notion_td"><span style="color: black;">réussite moyenne</span></th>
	    <th class="notion_td"><span style="color: black;">Évolution</span></th>
	  </tr>
	  {% for tag, pt_tag, dif, evo, mean_tag, evo_mean in tags_info %}
	  <tr>
	    {% if loop.index0 % 2 == 1 %}
	    <td class="notion_td">
	    {% else %}
	    <td class="notion_td_2">
	    {% endif %}
	      <span class="notion_tag">
		{{ tag }}
	      </span>
	    </td>
	    {% if loop.index0 % 2 == 1 %}
	    <td class="notion_td">
	    {% else %}
	    <td class="notion_td_2">
	    {% endif %}
	      <b>{{ pt_tag }} Pts</b>
	    </td>
	    {% if loop.index0 % 2 == 1 %}
	    <td class="notion_td">
	    {% else %}
	    <td class="notion_td_2">
	    {% endif %}
	      {% if dif > 0 %}
	      <span style="color:darkgreen">
		+ {{ dif }} Pts
	      </span>
	      {% else %}
	      + 0 Pt
	      {% endif %}
	    </td>
	    {% if loop.index0 % 2 == 1 %}
	    <td class="notion_td">
	    {% else %}
	    <td class="notion_td_2">
	    {% endif %}
	      {% if evo != 0 %}
	      <span style="color:darkgreen">
		+ {{ "%+.2f %%"|format(evo) if evo != -1 else "∞" }}
	      </span>
	      {% else %}
	      + 0 %
	      {% endif %}
	    </td>
	    {% if loop.index0 % 2 == 1 %}
	    <td class="notion_td">
	    {% else %}
	    <td class="notion_td_2">
	    {% endif %}
	      <b>{{ "%.2f %%"|format(mean_tag) }}</b>
	    </td>
	    {% if loop.index0 % 2 == 1 %}
	    <td class="notion_td">
	    {% else %}
	    <td class="notion_td_2">
	    {% endif %}
	      {% if evo_mean >= 0 %}
	      <span style="color:darkgreen">
	      {% else %}
	      <span style="color:darkred">	      
	      {% endif %}
              {{ "%+.2f %%"|format(evo_mean) }}
	      </span>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
    </ion-card-content>
</ion-card>
{% endblock %}
