.tree { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
}

.tree li {
    padding-left: 16px; 
}

.tree__item { 
    position: relative; 
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.tree__item.editing span  {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 4px; 
}

.tree__item.editing input {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.1rem 0.3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tree__item.editing input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.tree__item .overlay { 
    display: none;
    pointer-events: none;
    position: absolute; 
    left: auto !important;
    right: 0;
    top: 0; 
    width: 100vw; 
    height: 100%;
}

.tree__item:hover .overlay, .tree__item.selected .overlay { 
    display: block; 
    background: rgba(66,66,66,0.1);
}

.tree__item .tree__options {
    visibility: hidden;  
    font-size: 14px;
}

.tree__item:hover .tree__options {
    visibility: visible;
}

.drag {
    opacity: 0.5;
}

.over {
    box-shadow: inset 0px 0px 0px 2px #CCC;
    background: rgba(66,66,66,0.1);
}