<ul class='tree'>
    <li ng-repeat='document in explorer.documents track by document.path'>  
        <div class='tree__item editing' ng-if='document.editing'>
            <span>
                <i class="{{document.icon}}"></i>&nbsp;  
                <input 
                    type='text' 
                    placeholder='Press enter to create esc to cancel...'
                    auto-focus='true' ng-model='document.name' 
                    ng-keydown='explorer.endEditing(document, $event)'/>
            </span>    
        </div>
        <div
            ng-if='!document.editing'
            id='{{document.path}}'
            ng-class='{"tree__item": true, "selected": explorer.isSelection(document)}'
            ng-on-contextmenu="explorer.showOptions(document, $mdMenu, $event)"
            ng-click='explorer.selectDocument(document)'
            drop='explorer.moveDocument'
            droppable
            draggable>        
            <span><i class="{{document.icon}}"></i>&nbsp;<span>{{document.name}}</span></span>
            <span class='tree__options'>
                <ng-container ng-repeat='option in explorer.options'>
                    <span ng-if='option.enabled(document)' ng-click='option.action(document, $event)'>
                        <i class="{{option.icon}}"></i>&nbsp;
                        <md-tooltip>{{option.label}}</md-tooltip>
                    </span>
                </ng-container>
            </span> 
            <div class='overlay'></div>
        </div>
        <explorer ng-if='document.expanded' documents="document.children"></explorer>
    </li>
</ul>
