<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
        <!-- Header info -->
        {% block head %}{% endblock %}
        
        <!-- Title -->
        <title>{% block title %}UPEM - PL 2017/2018{% endblock %}</title>
        
        
       
        <!-- Load the tag library -->
        {% load static %}
        {% block tag %}{% endblock %}
        
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'playexo/favicon.ico' %}" />  
        
        <!-- Loading CSS and JS -->
        <script src="{% static 'js/jquery_3.1.1.js' %}" ></script>
        <link rel="stylesheet" href="{% static '/css/bootstrap_4.css' %}" />
        <script src="{% static 'js/bootstrap_4.js' %}" ></script>
        
        <link rel="stylesheet" href="{% static '/css/bootstrap_3.3.7.css' %}" />
        <script src="{% static 'js/bootstrap_3.3.7.js' %}" ></script>
        {% block header_script %}{% endblock %}
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'playexo/css/exo_info.css' %}" />
        <link rel="stylesheet" href="{% static 'css/classmanagement.css' %}" />
        <link rel="stylesheet" href="{% static 'playexo/css/footer.css' %}">
    </head>
    
    <body>
        <div id="header">
            {% block topbar %}{% include "playexo/top_bar.html" %}{% endblock %}
        </div>
        <div id="content">
            {% block alert %}{% include "playexo/alert.html" %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <footer class="footer">
                {% block footer %}{% include "playexo/footer.html" %}{% endblock %}
            </footer>
            {% block end_script %}{% endblock %}
            <script src="{% static 'playexo/js/footer.js' %}"></script> 
        </div>
    </body>
</html>

