

{% extends "gitload/base.html" %}

{% block tag %}
    {% load index %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class=col-md-1></div>
        <div class=col-md-10>
            
            <div class="panel panel-primary">
                <div class="panel-heading">Choisissez un Dépot</div>
                <div class="panel-body">
                            
                    <!-- DEFAULT REPO -->
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <div class="panel panel-primary">
                            <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> Dépot par Défaut</div>
                            <div class="panel-body">
                                {% for repo in default %}
                                    <div class="row">
                                        <div class="col-sm-11" style="padding-right: 0">
                                            <button type="submit" class="btn btn-primary btn-block" name="repo_name" value="{{ repo.name }}" style="text-align: left"/>
                                                    <span class="glyphicon glyphicon-arrow-right"></span><b>&emsp;{{ repo.name }}{% if repo.name != "plbank" %} - {{ repo.url }}{% endif %}</b>
                                            </button>
                                        </div>
                                        <div class="col-sm-1" style="padding-left: 0">
                                            <button type="button" class="btn btn-danger btn-block" style="height: 34px" data-toggle="modal" data-target="#delete{{repo.name}}" {% if repo.name == "plbank" %}disabled{% endif %}>
                                                    <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <div id="delete{{repo.name}}" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-md">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <center><h4 class="modal-title">Êtes vous sûr de vouloir supprimer {{ repo.name }}?</h4></center>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <form action="" method="POST">
                                                                        {% csrf_token %}
                                                                        <button type="submit" class="btn btn-warning btn-block" name="repo_delete" value="{{ repo.name }}">
                                                                                <span class="glyphicon glyphicon-ok"></span>&emsp;<b>Oui</b>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                                <div class="col-sm-6"></div>
                                                                <div class="col-sm-3">
                                                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">
                                                                        <span class="glyphicon glyphicon-remove"></span>&emsp;<b>Non</b>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                    
                    <!-- REPO FROM URL -->
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="panel panel-primary">
                            <div class="panel-heading"><span class="glyphicon glyphicon-download-alt"></span> Dépot par Adresse</div>
                            <div class="panel-body">
                                
                                <div class=row>
                                    <div class="col-sm-2">
                                        <center>
                                            <button class="btn btn-info" type="submit">
                                                <span class="glyphicon glyphicon-download"></span>&emsp;Ajouter&emsp;
                                            </button>
                                        </center>
                                    </div>
                                    <div class="col-sm-4">
                                        {% if error_url %}
                                            <div class="input-group has-error has-feedback">
                                                <span class="input-group-addon">URL:</span>
                                                <input id="msg" type="text" class="form-control" id="inputError2" name="repo_url" placeholder="https://githost.com/repository.git" required>
                                            </div>
                                        {% else %}
                                            <div class="input-group">
                                                <span class="input-group-addon">URL*:</span>
                                                <input id="msg" type="text" class="form-control" name="repo_url" placeholder="https://githost.com/repository.git" required>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Login:</span>
                                            <input type="text" class="form-control" name="username" placeholder="username">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Mot de Passe:</span>
                                            <input type="password" class="form-control" name="password" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class=col-md-1></div>
    </div>
{% endblock %}
