<ul class='tree'>
    <li ng-repeat='resource in explorer.resources track by resource.path'>
        <div ng-if='resource.editing' class='tree__item editing'>
            <span>
                <i class="{{resource.icon}}"></i>&nbsp;
                <input
                    type='text'
                    placeholder='Press Enter to create ESC to cancel...'
                    auto-focus='true' ng-model='resource.name'
                    ng-blur='explorer.endEditing(resource, $event)'
                    ng-keydown='explorer.endEditing(resource, $event)'/>
            </span>
        </div>
        <div
            ng-if='!resource.editing'
            id='{{resource.path}}'
            ng-class='{tree__item: true, selected: explorer.isSelection(resource)}'
            ng-click='explorer.select(resource)'
            drop='explorer.drop'
            droppable
            draggable>
            <span class='tree__item-label'>
                <ng-template ng-if="resource.type === 'folder'">
                <i class="tree__item-chevron {{resource.expanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'}}"></i>&nbsp;
                </ng-template>
                <i class="{{resource.icon}}"></i>&nbsp;
                <span>{{resource.name}}</span>
            </span>
            <span class='tree__item-options'>
                <ng-container ng-repeat='option in explorer.options'>
                    <span ng-if='option.enabled(resource)' ng-click='option.action(resource, $event)'>
                        <i class="{{option.icon}}"></i>&nbsp;
                        <md-tooltip>{{option.label}}</md-tooltip>
                    </span>
                </ng-container>
            </span>
            <div class='overlay'></div>
        </div>
        <explorer ng-if='resource.expanded' resources="resource.children"></explorer>
    </li>
</ul>
