<mat-radio-group
    class="radio-group-component {{ css }}"
    [class.horizontal]="horizontal"
    [(ngModel)]="selection"
    [disabled]="disabled"
    (change)="detectChanges()">


    <ng-container *ngFor="let item of items; let i = index; trackBy: trackBy">
            <a
            class="radio-item {{ item.css }}"
            (click)="selection = item.id"
            [class.selected]="selection === item.id">
            <mat-radio-button
                color="primary"
                [name]="item.id"
                [value]="item.id">
                <div [innerHTML]="item.content | markdown | trustHtml"></div>
            </mat-radio-button>
        </a>
    </ng-container>
</mat-radio-group>
<ng-container *ngIf="debug">
    <pre class="debug" [innerHTML]="serialize() | json"></pre>
</ng-container>
