.page-content {
    padding: 0;
}

.navigation-wrapper {
    position: absolute;
    width: 250px;
    height: 100%;
    border: 0;
    box-shadow: 1px 1px 12px #555;
    /* overflow-y: auto !important; */
    background-color: #6c757d;
    color: #ffffff;
    z-index: 1000;
}

.navigation__toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #6c757d;
    position: absolute;
    top: 0;
    right: -40px;
    
    -moz-border-radius: 0 8px;
    -moz-box-shadow: 2px 0 5px #999;
    -webkit-box-shadow: 2px 0 5px #999;
    box-shadow: 2px 0 5px #999;
    -webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}
.navigation__toggle object {
    pointer-events: none;
}

.navigation {
    width: 100%;
}

.exercise {
    border: none;
}

.exercise__header {
    border: none;
}