serverpl/settings.py
*pyc
__pycache__/
serverpl/tmp/*
!serverpl/tmp/.gitignore 
serverpl/staticfiles/*
serverpl/static/*
staticfiles/*
sandbox/env/*
*.db
db.sql*
*.json
*.log
doc/
.cache/*
.coverage/*
documentation/templates/documentation/*
documentation/static/documentation/*
.coverage
