DEADJOE
*pyc
__pycache__/
serverpl/staticfiles/*
serverpl/static/*
staticfiles/*
sandbox/env/*
*.db
db.sql*
*.json
*.log
doc/
.cache/
documentation/templates/documentation/*
documentation/static/documentation/*
.coverage
src/
filebrowser/tests/ressources/*
!filebrowser/tests/ressources/fake_filebrowser_data
!filebrowser/tests/ressources/filter
