wheel
django
django-annoying
django-celery-results
django-hitcount
django-markdown-deux
django-markdown-app
django-taggit
dj-database-url
gunicorn
jinja2
jsonfield
markdown
mkdocs
mock
oauth2
psycopg2
pytest
pytest-django
python-magic
pytz
recommonmark
requests
sympy
whitenoise
yattag
-e git://github.com/qcoumes/timeout-decorator.git#egg=timeout-decorator
-e git://github.com/qcoumes/django-enumfields.git#egg=django-enumfields
-e git://github.com/qcoumes/htmlprint.git#egg=htmlprint
-e git://github.com/qcoumes/gitcmd.git#egg=gitcmd

