<div class='editor-toolbar'>
    <button mat-icon-button  matTooltip="Explorer">
        <mat-icon aria-label="Explorer">file_copy</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Settings">
        <mat-icon aria-label="Explorer">settings</mat-icon>
    </button>
</div>

<div class='editor-content'>
    <as-split direction="horizontal">
        <as-split-area size="20">
            <app-explorer></app-explorer>
        </as-split-area>
        <as-split-area size="80">
            <as-split direction="vertical">
                <as-split-area size="90">
                    <div class='editor-tabs'></div>
                    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>                
                </as-split-area>
                <as-split-area size="10">          
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>