ion-grid {
    padding: 0;
    margin: 0;
    width: 100%;
}

ion-card-title {
    font-size: 1.2em;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}

table td, table th {
    padding: .75rem;
    vertical-align: top;
}

table tr {
    border-top: 1px solid  var(--ion-border-color);
}

thead th {
    border-right: 1px solid var(--ion-border-color);
}

ion-card {
    margin: 0 !important;
}

section {
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}

ion-grid ion-img {
    width: 100%;
    object-fit: cover;
}
