<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ static('/editor/styles.css') }}"/>
<script src="{{ static('/editor/polyfills-es5.js') }}" nomodule defer></script>
<script src="{{ static('/editor/polyfills-es2015.js') }}" type="module"></script>
<script src="{{ static('/editor/runtime-es2015.js') }}" type="module"></script>
<script src="{{ static('/editor/main-es2015.js') }}" type="module"></script>
<script src="{{ static('/editor/runtime-es5.js') }}" nomodule defer></script>
<script src="{{ static('/editor/main-es5.js') }}" nomodule defer></script>
