:host {
    display: flex;    
    align-content: center;
    align-items: center;
    height: 20px;
    background-color:#2f77c2;
    color: white;
    font-size: 12px;
    padding: 0 8px;
}

a {
    color: white;
}

.repo-icon {
    margin: 0 8px;
}

.repo-url {
    margin-right: 8px;
}

.task-name {
    margin: 0 4px;
}