.math-input-component {
    border: 1px solid #ddd;
    padding:5px;
    margin: 10px 0;
    border-radius:5px;
    background-color: #fff;
    font-size: large;

    .ML__fieldcontainer__field {
        height: 24px;
    }

    .ML__virtual-keyboard-toggle {
        z-index: 100;
    }

    &.disabled {
        pointer-events: none;
        border: 1px dashed;
    }
    .ML__fieldcontainer__field {
        height: 100% !important;
    }
}
