.index-chart {
    height:220px;
    width: 90%;
}

.course-card-wrapper {
    width: 33%;
    min-width: 310px;
    float: left;
}

.course-card {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-style: solid;
    border-color: #337AB7;
    border-width: 3px;
}

.card-title {
    text-align: center;
    color: #5BC0DE;
    text-decoration: none;
    border-bottom: 2px solid #337AB7;
}

.course-title {
    color: #5BC0DE;
    text-decoration: none;
}
.course-panel {
    padding-bottom: 10px;
    height: 90px;
}

.course-panel-instructor {
    padding-bottom: 10px;
    height: 120px;
}
.course-activity-title {
    margin-left: 20px;
}

.course-activity-hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.course-activity-chart {
    width: 100%;
    padding: 0 20px 0 20px;
}

.course-summary-chart {
    width: 100%;
    padding: 0 20px 0 20px;
}

.td-block {
  text-align: center;
  vertical-align: middle;
}

.course-block {
    width: 100%;
    height: 30px;
    margin: 1px;
}

.course-instructor-action {
    margin: 0 0 30px 30px;
}

.course-instructors {
    margin: 0 0 50px 30px;
}

.student-th {
    width: 150px;
}

.summary-td {
    vertical-align: middle !important;
    position: relative;
}

.summary-pl {
    vertical-align: middle !important;
    position: relative;
}

.td-header {
    width: 160px;
}

.progress-summary {
    height: 40px;
    margin-bottom: 0px;
    min-width: 80px;
}

.progress-bar {
    line-height: 38px;
}

.bg-grey {
    background:#DDDDDD;
    color: #000000;
}

.summary-td p {
    display:none;
    font-family:sans-serif;
    font-size:1em;
    margin:-1em 0 0 -0.1em;
    padding:0.2em;
    position:relative;
    top:0;
    text-align:center;
    width:100%;
    z-index:101;
}

.summary-td:hover p {
    display:block;
}

.summary-td a:hover:before {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    content:"";
    height:100%;
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.summary-td p:after{
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    content:"";
    position:absolute;
    text-align: center;
    top:100%; 
    left:50%;
    width: 0;
}

.summary-td p {
    background:black;
    background: rgba(0,0,0,0.7);
    color:white;
    display:none;
    font-family:sans-serif;
    font-size:1em;
    margin:-1em 0 0 -0.1em;
    padding:0.2em;
    position:absolute;
    top:-48%;
    right:center;
    text-align:center;
    width: auto;
    z-index:101;
}

.card-prof:hover:before {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity:0.5;
  position:fixed;
}
