.row {
    margin: 0;
}

pre {
    background-color: #CCC;
}

.dropdown-nav {
    height: 100%;
    width:  100%;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}