<div id="confirmationModalDir{{group_key}}-{{key}}-{{forloop.parentloop.parentloop.counter0}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ option.text }} ?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i>&emsp;Cancel</button>
                <a href="/filebrowser/{{ fb.relative }}/opt/?option=directory-{{group_key}}-{{key}}&target=." class="btn btn-primary"><i class="fas fa-check"></i>&emsp;Yes</a>
            </div>
        </div>
    </div>
</div>

