<div id="defaultModal{{group_key}}-{{key}}-{{forloop.parentloop.parentloop.counter0}}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ option.text }} {{ entry.name }} ?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div style="padding-left:20px">
                <form action="/filebrowser/{{ fb.relative }}/opt/" class="form-group" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <input type="hidden" name="target" value="{{ entry.name }}"/>
                    <input type="hidden" name="option" value="entry-{{group_key}}-{{key}}"/>
                    {{ option.form.as_p }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i>&emsp;Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>&emsp;Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

