{% load filebrowser_filter %}

{% for dropname, dropdown in fb.directory_options.items %}
    {% if dropdown|dropdown_filter:fb.full_path %}
        <div class="dropdown dir-opt" style="right: calc({{ forloop.counter0 }} * 70px);">
            <button class="btn btn-secondary btn-dir-options dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="{{ dropdown.icon }}"></i>
            </button>
            <ul class="dropdown-menu no-padding">
                <div class="btn-group-vertical btn-block" role="group" aria-label="Directory Options">
                    {% for key, option in dropdown.options.items %}
                        {% if option|opt_filter:fb.relative %}
                            <{{ option.type }}
                                type="button" class="btn btn-dir btn{{ option.outline }}{{ option.color }}" title="{{ option.text }}"
                                {% if not option.form and option.require_confirmation %}
                                    data-toggle="modal" data-target="#confirmationModalDir{{forloop.counter0}}" 
                                {% endif %}
                                {% if option.form %}
                                    data-toggle="modal" data-target="#defaultModalDir{{forloop.counter0}}"
                                {% endif %}
                                {% if option.method == 'GET' %}
                                    href="apply_option/?option_h={{key}}&relative_h={{fb.relative}}&type_h=directory-{{dropname}}&name_h={{fb.directory.name}}"
                                {% endif %}
                                >
                                <i class="{{ option.fa_icon }} fa-fw"></i>&emsp;{{ option.text }}
                            </{{ option.type }}>
                        {% endif %}
                    {% endfor %}
                </div>
            </ul>
        </div>
        {% for key,option in dropdown.options.items %}
            {% if option|opt_filter:fb.relative %}
                {% if not option.form and option.require_confirmation %}{% include 'filebrowser/confirmation_dir_modal.html' %}{% endif %}
                {% if option.form %}{% include 'filebrowser/default_dir_modal.html' %}{% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
