{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/filebrowser.css' %}" />
{% endblock %}

{% block alert %}{% endblock %}

{% block content %}
    <div class="row no-margin">
        <div class="col-md-6" style="border-right: solid 2px grey;">
            <div id="save_feedback"></div>
            <div class="card">
                <div class="card-header">
                    <h1>Editing {{ filename }}</h1>
                </div>

                <div class="card-body">

                    <div id="editorPL" style="height: 400px;">{{ file_content }}</div>
                        <form action="/filebrowser/edit_file/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="path" value="{{ filepath }}"/>
                            <input type="hidden" name="relative" value="{{ relative }}"/>
                            <input type="hidden" id="editor_input" name="editor_input" value="{{ file_content }}" />
                            <hr/>
                            <center>
                                <button id="save_button" type="button" class="btn btn-success">
                                    <i class="fas fa-save"></i>&emsp; Save
                                </button>
                                <button id="quit_button" class="btn btn-primary" type="submit">
                                    <i class="fas fa-save"></i>&emsp; Save & Quit
                                </button>
                                <button id="preview_button" type="button" class="btn btn-success">
                                    <i class="fas fa-play"></i>&emsp; Preview
                                </button>
                            </center>
                        </form> 
                    </div>
                </div>
            </div>
            <script src="{% static 'js/ace/ace.js' %}"></script>
            <script>
                window.onbeforeunload = function () {return confirm();}
                var editorPL = ace.edit('editorPL');
                    editorPL.session.setMode("ace/mode/python");
                    editorPL.setTheme("{{ request.user.profile.editor_theme.template }}");
                    editorPL.setShowInvisibles(true);

                var inputPL = $('input[name="editor_input"]');
                    editorPL.getSession().on("change", function () {
                    {% if request.user.profile.confirm %}
                        window.onbeforeunload = function () {return confirm();}
                    {% endif %}
                    inputPL.val(editorPL.getSession().getValue());
                });

                $( document ).ready(function(){
                    $.valHooks.textarea = {
                        get: function( elem ) {
                            return elem.value.replace( /\r?\n/g, "\r\n" );
                        }
                    };


                    $( "#quit_button" ).click(function() {
                        window.onbeforeunload = function () {}
                    });


                    $( "#save_button" ).click(function() {
                        var input = $("#editor_input").val();
                        var path = "{{ filepath }}";
                        var status = {requested_action: 'save', editor_input: input, path: path};
                        $.ajax({
                            type : "POST",
                            url : "/filebrowser/save_edit/",
                            data: JSON.stringify(status, null, '\t'),
                            contentType: 'application/json;charset=UTF-8',
                            success: function(returned_status) {
                                status = returned_status;
                                onReturn2(status.feedback);
                            }
                        });
                    });
          
                    $( "#preview_button" ).click(function() {
                        var POST = {
                            content: $("#editor_input").val(),
                            path: "{{ filepath }}",
                            directory: "{{ dir_name }}",
                            requested_action: "preview",
                        }
                        
                        $.ajax({
                            type : "POST",
                            url : "/filebrowser/preview_pl/",
                            data: JSON.stringify(POST, null, '\t'),
                            contentType: 'application/json;charset=UTF-8',
                            success: function(returned_status) {
                                $('#preview').html(returned_status.preview);
                            }
                        });
                    });
                });


                function onReturn2(feedback) {
                    $( "#save_feedback" ).html(feedback);
                }
            </script>
            <div id="preview" class="col-md-6">{{ preview|safe }}</div>
    </div>
    
    
{% endblock %}
