{% extends "classmanagement/base.html" %}

{% load static %}

{% block header_script %}
    <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/fontawesome-all.js' %}" ></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static '/css/filebrowser.css' %}" />
{% endblock %}

{% block alert %}{% endblock %}

{% block content %}
    <div class="row no-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h1>Editing {{ filename }}</h1>
                </div>
                <div class="card-body">
                    <div id="editorPL" style="height: 400px;">{{ file_content }}</div>
                        <form action="/filebrowser/edit_file/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="path" value="{{ filepath }}"/>
                            <input type="hidden" id="editor_input" name="editor_input" value="{{ file_content }}" />
                            <hr/>
                            <center>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-save"></i>&emsp; Save
                                </button>
                            </center>
                        </form> 
                    </div>
                </div>
            </div>
            <script src="{% static 'js/ace/ace.js' %}"></script>
            <script>
                var editorPL = ace.edit('editorPL');
                    editorPL.session.setMode("ace/mode/python");
                    editorPL.setTheme("{{ request.user.profile.editor_theme.template }}");
                    editorPL.setShowInvisibles(true);
                    
                var inputPL = $('input[name="editor_input"]');
                    editorPL.getSession().on("change", function () {
                    inputPL.val(editorPL.getSession().getValue());
                });
            </script>
            <div class="col-md-1"></div>
    </div> 
{% endblock %}
