{% extends "classmanagement/base.html" %}

{% load static %}

{% block title %}{{ filename }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/filebrowser.css' %}" />
{% endblock %}

{% block alert %}{% endblock %}

{% block content %}
    <div class="row no-margin">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% block feedback %}
            <div id="save_feedback"></div>
            {% endblock %}
            <div class="card">
                <div class="card-header">
                    <h1>Editing {{ filename }}</h1>
                </div>
                <div class="card-body">
                    <div id="editorPL" style="height: 400px;">{{ file_content }}</div>
                        <form action="/filebrowser/edit_file/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="path" value="{{ filepath }}"/>
                            <input type="hidden" name="relative" value="{{ relative }}"/>
                            <input type="hidden" id="editor_input" name="editor_input" value="{{ file_content }}" />
                            <hr/>
                            <center>
                                <button id="save_button" type="button" class="btn btn-success">
                                    <i class="fas fa-save"></i>&emsp; Save
                                </button>
                                <button id="quit_button" class="btn btn-primary" type="submit">
                                    <i class="fas fa-save"></i>&emsp; Save & Quit
                                </button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
            <script src="{% static 'js/ace/ace.js' %}"></script>
            <script>
                $(document).ready(function() {
                    const editorPL = ace.edit('editorPL');
                    const inputPL = $('input[name="editor_input"]');
                    const buttonSave = $("#save_button");
                    const buttonQuit = $("#quit_button");
                    const viewFeedback =  $("#save_feedback");

                    let editingChanged = false;
                    window.onbeforeunload = function(e) {
                        if (editingChanged) {
                            const message = "Voulez-vous vraiment quitter cette page ?";
                            e = e || window.event;
                            if (e)
                                e.returnValue = message;
                            return message;
                        }
                        window.onbeforeunload = null;
                        return null;
                    };
                    
                    editorPL.session.setMode("ace/mode/python");
                    editorPL.setTheme("{{ request.user.profile.editor_theme.template }}");
                    editorPL.setShowInvisibles(true);             
                    editorPL.getSession().on("change", function () {
                        {% if request.user.profile.confirm %}
                            beginEditing();
                        {% endif %}
                        inputPL.val(editorPL.getSession().getValue());
                    });
                    editorPL.focus();

                    buttonQuit.click(endEditing);
                    buttonSave.click(saveChanges);
                    
                    function beginEditing() {
                        editingChanged = true;
                        buttonSave.prop('disabled', false);
                    }
                    
                    function endEditing() {
                        editingChanged = false;
                        buttonSave.prop('disabled', true);
                    }

                    function saveChanges() {
                        const input = $("#editor_input").val();
                        const path = "{{ filepath }}";
                        let status = {requested_action: 'save', editor_input: input, path: path};
                        $.ajax({
                            type: "POST",
                            url: "/filebrowser/save_edit/",
                            data: JSON.stringify(status, null, '\t'),
                            contentType: 'application/json;charset=UTF-8',
                            success: function (returned_status) {
                                status = returned_status;
                                endEditing();
                                viewFeedback.html(status.feedback);
                            }
                        });
                    }         
                });

            </script>
            <div class="col-md-1"></div>
    </div>
{% endblock %}
