{% extends "classmanagement/base.html" %}

{% load static %}
{% load filebrowser_filter %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/filebrowser.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            {% for root in fb.list_root %}
                <li class="nav-item">
                    <a class="nav-link{% if fb.home == root %} active"{% else %}" style="color: black;"{% endif %} href="/filebrowser/{{ root }}">{{ root|title }}</a>
                </li>
            {% endfor %}
        </ul> 
        <div class="card card-fb">
            
            <div class="card-header p-0 card-header-fb">
                <div class="row m-0">
                    <!-- Breadcrumb -->
                    {% include 'filebrowser/breadcrumb.html' %}
                    
                    <button type="button" class="btn" style="background-color:transparent; position: absolute; right: 0;"  data-toggle="tooltip" data-placement="top" title="These options apply on the current directory.">
                        <i class="far fa-question-circle"></i>
                    </button>
                    <!-- Directory's Options -->
                    {% include 'filebrowser/dir_options.html' %}
                </div>
            </div>
            
            <!-- Entries -->
            <div class="card-body p-0">
                <table class="table table-hover m-0" style="table-layout: fixed">
                    <tbody>
                        {% include 'filebrowser/entries.html' %}
                    </tbody>
                </table>
            </div>
            
            {% if fb.full_path|in_repository %}
                <div class="card-footer card-footer-fb">
                    <div class="row m-0">
                        <i class="{{ fb.full_path|repository_host}} fa-2x"></i>&emsp; <a href="{{ fb.full_path|repository_url }}">{{ fb.full_path|repository_url }}</a>&nbsp;-&nbsp;<i>{{ fb.full_path|repository_branch }}</i>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
{% endblock %}

{% block end_script %}
    <script>
        $(document).on('shown.bs.modal', function(e) {
            $('input:visible:enabled:first', e.target).focus();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
