{% extends "classmanagement/base.html" %}

{% load static %}
{% load filebrowser_filter %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/filebrowser.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            
            <div class="card-header no-padding">
                <div class="row no-margin">
                    
                    <!-- Breadcrumb -->
                    <div class="col-sm-11 no-padding">
                        {% include 'filebrowser/breadcrumb.html' %}
                    </div>
                    
                    <!-- Directory's Options -->
                    <div class="col-sm-1 no-padding">
                        {% include 'filebrowser/dir_options.html' %}
                    </div>
                </div>
            </div>
            
            <!-- Entries -->
            <div class="card-body no-padding">
                <table class="table table-hover" style="table-layout: fixed">
                    <tbody>
                        {% include 'filebrowser/entries.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_script %}
    <script>
        $(document).on('shown.bs.modal', function(e) {
            $('input:visible:enabled:first', e.target).focus();
        });
    </script>
{% endblock %}
