<mat-form-field class='search'>
    <input autoFocus autocomplete="off" matInput placeholder="Press Enter to search" (keydown)='search($event)' [(ngModel)]='query'>
</mat-form-field>
<ng-container *ngIf="query && empty">
    <p class="empty">No results found for '{{ query }}' in '/home' and '/lib'</p>
</ng-container>
<app-tree [nodes]="nodes" [options]="treeOptions">
    <ng-container *treeNode="let node">
        <span class="node-label">
            <ng-container *ngIf="node.expandable; else: notexpandable">
                <i class="fas fa-chevron-{{ node.expanded ? 'down' : 'right' }}"></i>
                <img [fileIcon]="node.data.resource" />
            </ng-container>
            <ng-template #notexpandable>
                {{ node.data.lineno }}:&nbsp;
            </ng-template>
            <span
                matTooltip="{{ node.data.path | path }}"
                highlightWords [regex]="pattern"
                [text]="node.name"
                [highlightClass]="'highlight'">
            </span>
        </span>
    </ng-container>
</app-tree>
