/* remove material design focus */
*:focus {
    outline: none !important;
    border: 0 !important;
}

body {
    overflow: hidden;
}

.page-content {
    padding: 0;
}

.app-container {
    position: relative;
    padding: 0;
    margin: 0;
    height: calc(100vh - 64px); /* 64px -> header height */
    color: #5a5a5a;
}

.app-container > app {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: 100%;
    padding: 0px;
}

.workspace {
    display: flex;
    flex: 1;
}


/* EXPLORER */
.explorer {
    position: relative;
    width: 280px;
    display: flex;
    flex-direction: column;
    resize: horizontal;
}

.explorer__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 1.2rem;
    padding: 0 0 0 16px;
}

.explorer-tree {
    margin-top: 8px;
    overflow-y: auto;
    margin: 0;
    height: 100%;
}

.explorer > * {
    height: 100%;    
    overflow: hidden;
}


/* EDITOR */
.editor {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
}

.editor > * {
    height: 100%;
    overflow: hidden;
}

/* FOOTER */
.footer {
    display: flex;    
    align-content: center;
    align-items: center;
    min-height:32px;
    background-color:#CCCCCC11;
    font-size: 14px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}