/* #region */

body {
    overflow: hidden;
}

.page-content {
    padding: 0;
}

/* remove material design focus */
*:focus {
    outline: none !important;
    border: 0 !important;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* #endregion */

#editor-container {
    position: relative;
    padding: 0;
    margin: 0;
    height: calc(100vh - 64px); /* 64px -> header height */
    color: #5a5a5a;
}

editor {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 0px;
}

#workspace {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.editor__tab {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    overflow: auto;
}

.editor__tab-item {
    display: inline-flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #5a5a5a;
    font-style: normal;
    padding: 0px 12px;
}


/* #region explorer */
#explorer {
    position: relative;
    width: 350px;
    height: 100%;
    min-width: 20px;
    max-width: 50%;
    background-color: #ecedf0;
}

#explorer .editor__tab { 
    font-size: 1rem;
    padding: 0 0 0 16px;
}

#explorer__tree {
    margin-top: 8px;
    overflow-y: auto;
    margin: 0;
    height: 100%;
}

#explorer > * {
    height: 100%;    
    overflow: hidden;
}

#explorer input {
    width: 90%;
    margin: 4px 8px;
    padding: 0.1rem 0.3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#explorer input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#explorer .resizer {
    background: #ecedf0;
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    cursor: col-resize;
}
/* #endregion */

/* #region workspace */
#workspace__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
}

#workspace__content > * {
    height: calc(100% - 36px);
    overflow: hidden;
}

#console {
    position: absolute;   
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    min-height: 36px;
    max-height: calc(100% - 66px);
    overflow: hidden;
    background-color: #F5F5F5;
    transition: height .3s;
}

#console .resizer {
    background: #F5F5F5;
    position: absolute;
    right: 0;
    top: 0;
    height: 6px;
    width: 100%;
    cursor: row-resize;
}

#console__tab {
    position: absolute;
    left: 0;
    right: 0;
}

#console__content {
    overflow: auto;
    padding: 0;
    margin: 36px 0; 
    height: calc(100% - 36px);
}

#console__content ul {
    padding: 0 12px;
    list-style-type: none;
}

.console__item:hover {
    background-color: rgba(0, 0, 0, .1);
}
/* #endregion */


/* #region footer */
.footer {
    display: flex;    
    align-content: center;
    align-items: center;
    height: 32px;
    background-color:#343A40;
    color: white;
    font-size: 12px;
}
/* #endregion */


