<div class="editor__container">
    <!-- TOOLBAR -->
    <div class='editor__toolbar border'>
        <span ng-click='$ctrl.saveModifications()'>
            <i class="fas fa-save fa-1x"></i><md-tooltip>Save Modified Files</md-tooltip>
        </span>
        <span ng-click='$ctrl.showExplorer()'>
            <i class="fas fa-file fa-1x"></i><md-tooltip>File Explorer</md-tooltip>
        </span>
        <span ng-click='$ctrl.showSettings()'>
            <i class="fas fa-cog fa-1x"></i><md-tooltip>Settings</md-tooltip>
        </span>
    </div>
    <!-- END TOOLBAR -->
    
    <!-- EXPLORER -->
    <div class="editor__explorer border" ng-if="$ctrl.toolbarSelection === 'EXPLORER'">
        <div>
            <div class='editor__tab-bar editor__tab-bar--explorer border-bottom'><span>Explorer</span></div>
            <div class="editor__explorer-navigation">
                <explorer items='$ctrl.items()'></explorer>
            </div>
        </div>
        <md-progress-circular ng-if='$ctrl.loadingExplorer' class='center-x-y'  md-mode="indeterminate" md-diameter="50"></md-progress-circular>
    </div>
    <!-- END EXPLORER -->

    <!-- SETTINGS -->
    <div class="editor__explorer border" ng-if="$ctrl.toolbarSelection === 'SETTINGS'">
        <div>
            <div class='editor__tab-bar editor__tab-bar--explorer border-bottom'><span>Settings</span></div>
        </div>
    </div>
    <!-- END SETTINGS -->
      
    <!-- MAIN -->
    <div class="editor__main border"><editor></editor></div>
    <!-- END MAIN -->
</div>


<!-- FOOTER -->
<div class='editor__footer'>
    <ng-container ng-if="$ctrl.hasRepo()">
        &emsp; <i class="{{$ctrl.repo().host}} fa-1x"></i>&emsp; 
            <a href="{{$ctrl.repo().url}} ">{{$ctrl.repo().url}} </a>&nbsp;
            -&nbsp;<i>{{$ctrl.repo().branch}} 
        </i>
    </ng-container>
</div>
<!-- END FOOTER -->