<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Premier Langage</span>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
        {% if request.user.profile.can_load %}
        <a class="mdl-navigation__link" href="/"><i class="fas fa-graduation-cap"></i>&nbsp;Mes Cours</a></a>
        <a class="mdl-navigation__link" href="/filebrowser/"><i class="fas fa-cloud"></i>&nbsp;Editeur</a>
        <a class="mdl-navigation__link" href="/ask/"><i class="fas fa-question"></i>&nbsp;FAQ</a>
        <a class="mdl-navigation__link" href="/documentation/"><i class="fas fa-book"></i>&nbsp;Documentation</a>
        {% endif %}
        {% if request.user.profile.is_admin or request.user.is_superuser %}
            <a class="mdl-navigation__link" href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a>
        {% endif %}
    </nav>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
        {% if request.user.is_authenticated %}
            <a class="mdl-navigation__link" href="/profile/">
                <img width='20' src="{{ request.user.profile.avatar.url }}">&nbsp;
                {% firstof request.user.get_full_name request.user.get_username %}
            </a>
            <a class="mdl-navigation__link" href="{% url 'classmanagement:logout' %}"><i class="fas fa-power-off fa-lg"></i></a>
        {% else %}
            <a class="mdl-navigation__link" href="{% url 'classmanagement:login' %}">Connexion</a>
        {% endif %}
    </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Premier Langage</span>
    <nav class="mdl-navigation">
        {% if request.user.profile.can_load %}
        <a class="mdl-navigation__link" href="/"><i class="fas fa-graduation-cap"></i>&nbsp;Mes Cours</a></a>
        <a class="mdl-navigation__link" href="/filebrowser/"><i class="fas fa-cloud"></i>&nbsp;Editeur</a>
        <a class="mdl-navigation__link" href="/ask/"><i class="fas fa-question"></i>&nbsp;FAQ</a>
        <a class="mdl-navigation__link" href="/documentation/"><i class="fas fa-book"></i>&nbsp;Documentation</a>
        {% endif %}
        {% if request.user.profile.is_admin or request.user.is_superuser %}
            <a class="mdl-navigation__link" href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a>
        {% endif %}
    </nav>
</div>