.tree-scroll {
  height: 100%;
}

.mat-tree-node {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 32px;
  overflow: hidden;

  &:hover, &.focused {
    background: rgba(66,66,66,0.1);
  }

  .node-content {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 32px;
    padding: 0 16px;
    overflow: hidden;
  }

  .input-wrapper  {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 4px;
  }

  input {
    width: 100%;
    margin: 0 0 0 16px;
    padding: 0.1rem 0.3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

}

.dnd-drag {
    opacity: 0.5;
}

.dnd-over {
    box-shadow: inset 0px 0px 0px 2px #CCC;
    background: rgba(66,66,66,0.1);
}


