<cdk-virtual-scroll-viewport class="tree-scroll" itemSize="32">
  <ng-container *cdkVirtualFor="let item of virtualSource; trackBy: didTrack"></ng-container>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- DEFAULT NODE -->
    <mat-tree-node
      *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="16"
      [id]="node.id" [ngClass]="{ focused: node.isFocused, editing: node.isEditing }">
      <ng-container *ngTemplateOutlet="defaultNodeTemplate; context: { $implicit: node }"></ng-container>
      <ng-container *ngIf="node.isCreating">
        <ng-container *ngTemplateOutlet="editingState"></ng-container>
      </ng-container>
    </mat-tree-node>
    <!-- EXPANDABLE NODE -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: isExpandableNode" matTreeNodePadding matTreeNodePaddingIndent="16" matTreeNodeToggle
      [id]="node.id" [ngClass]="{ focused: node.isFocused, editing: node.isEditing }">
      <ng-container *ngTemplateOutlet="defaultNodeTemplate; context: { $implicit: node }"></ng-container>
      <ng-container *ngIf="node.isCreating">
        <ng-container *ngTemplateOutlet="editingState"></ng-container>
      </ng-container>
    </mat-tree-node>
  </mat-tree>
</cdk-virtual-scroll-viewport>
<!-- DEFAULT TEMPLATE -->
<ng-template #defaultNodeTemplate let-node>
  <ng-container *ngIf="!node.isRenaming; else renaming">
    <div class="node-content" (click)="didNodeClicked(node, $event)">
      <ng-container *ngIf="template; else default">
        <ng-container *ngTemplateOutlet="template; context: { $implicit: node }"></ng-container>
      </ng-container>
      <ng-template #default>
        {{node.name}}
      </ng-template>
    </div>
  </ng-container>
  <ng-template #renaming>
    <ng-container *ngTemplateOutlet="editingState"></ng-container>
  </ng-template>
</ng-template>
<!-- EDITING STATE -->
<ng-template #editingState>
  <div class="node-content">
    <span class="input-wrapper">
      <input autofocus
              type='text'
              placeholder='Press Enter to create ESC to cancel...'
              [(ngModel)]="editing.name"
              (keydown)='didEditingChanged($event)'
              (blur)='didEditingChanged($event)'/>
      </span>
  </div>
</ng-template>
