{% extends "base.html" %}


{% block alert %}{% endblock %}

{% block content %}
    {% if notifications_list %}

        <style>


            div.one_notif {
                height: 95px;
                float: bottom;
                padding: 0;
                margin: 0;
                font-size: 0;
                display: flex;
                width: 100vw;
            }

            div.one_element {
                display: inline-block;
                width: 20%; /* 100 % / nombre de div contenant le span/div*/
                height: 100%;
                overflow: auto;
                font-size: initial;


            }


            div.p_notif {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 50%;
                text-align: center;
                transform: translateY(-50%);
            }

            p.p_superpose {
                margin: 0;
            }

            hr.separator_div {
                margin: 0;
                padding: 0;
            }

            #avatar {
                border-radius: 50%;
                max-width: 20%;
                max-height: 20%;
            }

            #dot {

                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 50%;
                text-align: center;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: darkviolet;
                border-radius: 50%;
                display: block;
            }


        </style>

        <hr class="separator_div">
        {% for notif in notifications_list %}

            <div class="one_notif">
                <div>
                    <div id="dot"
                         style="background-color: {% if notif.read %}white{% endif %}"></div>

                </div>
                <div class="one_element">
                    <div class="p_notif"><img id="avatar" src="{{ notif.user.profile.avatar.url }}">
                    </div>
                </div>

                <div class="one_element">
                    <div class="p_notif">{{ notif.context }}</div>
                </div>

                <div class="one_element">
                    <div class="p_notif"><p class="p_superpose">{{ notif.title }}</p>
                        <p class="p_superpose">{{ notif.body }}</p>
                    </div>
                </div>

                <div class="one_element">
                    <div class="p_notif">
                        {{ notif.pub_date_verbose() }}
                    </div>
                </div>

            </div>
            <hr class="separator_div">
        {% endfor %}
    {% endif %}
{% endblock %}


