monaco .editor__tab {
    background-color: #F5F5F5;
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    overflow: auto;

    
}

monaco .editor__tab-item {
    background-color: #ecedf0;
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 10px 20px;
}

monaco .editor__tab-item.active {
    background-color: #FFF;
}

monaco .editor__tab-item .icon {
    margin-right: 4px;
}

monaco .editor__tab-item .btn-close {
    font-size: 18px;
}

monaco .editor__tab-item.changed .btn-close {
    color:red;
}

monaco .editor__tab-item .btn-close:hover {
    opacity: 1;
}

monaco .monaco__main {
    display: flex;
    height: calc(100% - 36px);
}

monaco .monaco__editor {
    height: 100%;
    width: 100%;
}

monaco .monaco__editor--diff {
    height: 100%;
    width: 100%;
}

monaco .monaco__preview {
    height: calc(100% - 72px);
    width: 10px;
    min-width: 10px;
    max-width: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
    background-color: white;
    padding: 0 12px;
    transition: width .1s;
}

monaco .monaco__preview .resizer {
    background: #ecedf0;
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    cursor: col-resize;
}

.pl-theme-ref-token {
    cursor: pointer;
    color: #2b4153;
    font-weight: bold;
    text-decoration: underline;
}