<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-title">
            <div>Premier Langage</div>
            <span style='font-size: 10px;'>0.6.2</span>
        </div>
        <nav class="mdl-navigation  ">
            {% if request.user.is_authenticated and request.user.profile.can_load %}
                <a class="mdl-navigation__link" href="/"><i class="fas fa-graduation-cap"></i>&nbsp;Mes
                    Cours</a>
                <a class="mdl-navigation__link" href="/filebrowser/"><i class="fas fa-cloud"></i>&nbsp;Editeur</a>
                <a class="mdl-navigation__link" href="/ask/"><i
                        class="fas fa-question"></i>&nbsp;FAQ</a>
                <a class="mdl-navigation__link"
                   href="https://documentationpl.readthedocs.io/fr/latest/"
                   target="_blank"><i class="fas fa-book"></i>&nbsp;Documentation</a>
                <div class="notif_window">
                    <a class="mdl-navigation__link notif_link" href="/notifs/"><i
                            class="fas fa-bell"></i>&nbsp;Notifications</a>
                    <div class="notif_menu">
                        {% block alert %}{% endblock %}


                        <hr class="separator_div">
                        {% if notifications %}

                            {% for notif in notifications %}

                                <div class="one_notif">
                                    <div>
                                        <div id="dot"
                                             style="background-color: {% if notif.read %}white{% endif %}"></div>

                                    </div>
                                    <div class="one_element">
                                        <div class="p_notif"><img id="avatar"
                                                                  src="{{ notif.user.profile.avatar.url }}">
                                        </div>
                                    </div>

                                    <div class="one_element">
                                        <div class="p_notif">{{ notif.context }}</div>
                                    </div>

                                    <div class="one_element">
                                        <div class="p_notif"><p
                                                class="p_superpose">{{ notif.title }}</p>
                                            <p class="p_superpose">{{ notif.body }}</p>
                                        </div>
                                    </div>

                                    <div class="one_element">
                                        <div class="p_notif">
                                            {{ notif.pub_date_verbose() }}
                                        </div>
                                    </div>

                                </div>
                                <hr class="separator_div">
                            {% endfor %}
                        {% endif %}

                    </div>
                    <script> notifs(); </script>
                </div>
            {% endif %}
            {% if request.user.is_authenticated and request.user.profile.is_admin or request.user.is_superuser %}
                <a class="mdl-navigation__link" href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a>
            {% endif %}

        </nav>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            {% if request.user.is_authenticated %}
                <a class="mdl-navigation__link" href="/profile/">
                    <img width='20' src="{{ request.user.profile.avatar.url }}">&nbsp;
                    {{ firstof(request.user.get_full_name(), request.user.get_username()) }}
                </a>
                <a class="mdl-navigation__link" href="{{ url('classmanagement:logout') }}"><i
                        class="fas fa-power-off fa-lg"></i></a>
            {% else %}
                <a class="mdl-navigation__link"
                   href="{{ url('classmanagement:login') }}">Connexion</a>
            {% endif %}
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Premier Langage</span>
    <nav class="mdl-navigation">
        {% if request.user.is_authenticated and request.user.profile.can_load %}
            <a class="mdl-navigation__link" href="/"><i class="fas fa-graduation-cap"></i>&nbsp;Mes
                Cours</a></a>
            <a class="mdl-navigation__link" href="/filebrowser/"><i class="fas fa-cloud"></i>&nbsp;Editeur</a>
            <a class="mdl-navigation__link" href="/ask/"><i
                    class="fas fa-question"></i>&nbsp;FAQ</a>
            <a class="mdl-navigation__link" href="https://documentationpl.readthedocs.io/fr/latest/"
               target="_blank"><i class="fas fa-book"></i>&nbsp;Documentation</a>
            <a class="mdl-navigation__link" href="/"><i class="fas fa-bell"></i>&nbsp;Notifications</a>
        {% endif %}
        {% if request.user.is_authenticated and request.user.profile.is_admin or request.user.is_superuser %}
            <a class="mdl-navigation__link" href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a>
        {% endif %}
    </nav>
    <div class="mdl-layout-spacer"></div>
</div>
