<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-title">
            <div>Premier Langage</div>
            <span style='font-size: 10px;'>0.6.2</span>
        </div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
         <a id="header-courses" class="mdl-navigation__link" href="/"><i class="fas fa-graduation-cap"></i>&nbsp;Mes
            Cours</a></a>
            {% if request.user.is_authenticated and request.user.profile.can_load() %}
            <a id="header-editor" class="mdl-navigation__link" href="/editor/"><i class="fas fa-cloud"></i>&nbsp;Editeur</a>
            <a id="header-ask" class="mdl-navigation__link" href="/ask/"><i
                    class="fas fa-question"></i>&nbsp;FAQ</a>
            <a id="header-documentation" class="mdl-navigation__link" href="https://documentationpl.readthedocs.io/fr/latest/"
               target="_blank"><i class="fas fa-book"></i>&nbsp;Documentation</a>
            {% endif %}
            {% if request.user.is_authenticated and request.user.profile.is_admin() or request.user.is_superuser %}
            <a id="header-admin" class="mdl-navigation__link" href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a>
            {% endif %}
        </nav>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            {% if request.user.is_authenticated %}
            <a class="mdl-navigation__link" href="/profile/">
                <img width='20' src="{{ request.user.profile.avatar.url }}">&nbsp;
                {{ firstof(request.user.get_full_name(), request.user.get_username()) }}
            </a>
            <a class="mdl-navigation__link" href="{{ url('classmanagement:logout') }}"><i
                    class="fas fa-power-off fa-lg"></i></a>
            {% else %}
            <a class="mdl-navigation__link" href="{{ url('classmanagement:login') }}">Connexion</a>
            {% endif %}
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Premier Langage</span>
    <nav class="mdl-navigation">
    <a id="header-courses" class="mdl-navigation__link" href="/"><i class="fas fa-graduation-cap"></i>&nbsp;Mes
        Cours</a></a>
        {% if request.user.is_authenticated and request.user.profile.can_load() %}
        <a id="header-editor" class="mdl-navigation__link" href="/editor/"><i class="fas fa-cloud"></i>&nbsp;Editeur</a>
        <a id="header-ask" class="mdl-navigation__link" href="/ask/"><i class="fas fa-question"></i>&nbsp;FAQ</a>
        <a id="header-documentation" class="mdl-navigation__link" href="https://documentationpl.readthedocs.io/fr/latest/"
           target="_blank"><i class="fas fa-book"></i>&nbsp;Documentation</a>
        {% endif %}
        {% if request.user.is_authenticated and request.user.profile.is_admin() or request.user.is_superuser %}
        <a id="header-admin" class="mdl-navigation__link" href="/admin/"><i class="fas fa-cog"></i>&nbsp;Administration</a>
        {% endif %}
    </nav>
    <div class="mdl-layout-spacer"></div>
</div>
