

{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/block_chart.css' %}" />
{% endblock %}

{% block header_script %}
<script src="{% static 'js/classmanagement.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Accès Refusé (403)</h1>
        <center>
            <h2>Accès refuser (403)</h2>
            <p class="lead">Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
            <p>{{ exception }}</p>
            <p>
                <button class="btn btn-lg btn-default" onclick="window.history.go(-1)">Retour</button>
            </p>
        </center>
    </div>
</div>

{% endblock %}
