
{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/block_chart.css' %}" />
{% endblock %}

{% block header_script %}
<script src="{% static 'js/classmanagement.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <center>
            <h2>Page Introuvable (404)</h2>
            <p class="lead">{{ exception }}</p>
            <p>
                <button class="btn btn-lg btn-secondary" onclick="window.history.go(-1)">Retour</button>
            </p>
        </center>
    </div>
</div>

{% endblock %}
