{% extends custom_nav %}

{% block tag %}
    {% load markdown_deux_tags %}
    {% load bootstrap3 %}
    {% load static %}
{% endblock %}


{% block exo %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="text-center"><h1>{% if 'title'%}{{ title }}{% endif %}</h1></div>
            <div class="text-left">{% if 'author' %}{{ author }}{% endif %}</div>
        </div>
        
        <div class="panel-body">
            <pre><u>Note de l'enseignant (visible seulement par les enseignant):</u><br>
            {% if request.user.pluser.can_load and "teacher" %}{{ teacher|markdown }}{% endif %}</pre>
            {% if "introduction" %}{{ introduction|markdown }}{% endif %}
            {% if "introductionh" %}{{ introductionh|safe }}{% endif %}
            <br>
            <center></center><a style="white-space: normal;" href="{{ request.path }}?action=pl&pl_sha1={{pl_list.0.0.sha1}}" type="button" class="btn btn-success btn-lg">
                Commencer
            </a></center>
        </div>
    </div>
{% endblock %}
