{% extends "classmanagement/base.html" %}

{% load static %}


{% block header_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$%','%$'],],
                skipTags: ["script","noscript","style"],
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div id="navigation" class="col-md-2">
            {{ navigation }}
        </div>
        <div id="exercise" class="col-md-8">
            {{ exercise }}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
