{% extends "playexo/base.html" %}

{% block content %}
    <div class="container">
        <div class="card mb-4">
            <div class="card-header">
                <center>
                    <h3>Se connecter</h3>
                </center>
            </div>
            <div class="card-body">
                <center>
                    {% if next %}
                        <p class="text-warning">You need to be log-in to see this page.</p>
                    {% endif %}
                    {% if form.errors %}
                        <p class="text-danger">Your username or password didn't match.</p>
                    {% endif %}
                </center>
                <div class="row justify-content-md-center mb-5">
                    <div class="col-md-auto">
                        <form method="post" action="{% url 'classmanagement:login' %}">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user fa-fw"></i></div>
                                </div>
                                <input name="username" maxlength="254" required="" autofocus="" id="id_username" type="text" placeholder="username">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-unlock-alt fa-fw"></i></div>
                                </div>
                                <input name="password" maxlength="254" required="" autofocus="" id="id_password" type="password" placeholder="********">
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                            <center><button type="submit" class="btn btn-primary">Log-in</button></center>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <p>
                            You account will be automatically created the first time you connect 
                            to Premier Langage from a LMS (Moodle, E-Learning, Canvas...).<br>
                            <br>
                            If you have connected at least once, you should have received an email 
                            containing your credentials on the email address associated with your LMS.
                            You can also still connect from your LMS.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
