{% load django_markdown %}
{% load static %}
<div id=exercise class="card">
    <div class="card-header">
        <div class="text-center"><h1>{% if 'title'%}{{ title }}{% endif %}</h1></div>
        <div class="text-left">{% if 'author' %}{{ author }}{% endif %}</div>
    </div>

    <div class="card-body">
        {% if 'text'%}
            {% with texth__=text|markdown %}
                {{ texth__|safe }}
            {% endwith %}
        {% endif %}

        <div id="feedback" class="alert feedback collapse">
            {% with feedbackh__=feedback__|markdown %}
                {{ feedbackh__|safe }}
            {% endwith %}
        </div>
        {% csrf_token %}
        <div id="form">
            {% block form %}{{ form|safe }}{% endblock %}
        </div>
        <br>
        <center>
            <button id="submit_button" class="btn btn-primary">
                <i class="fas fa-check"></i> Valider
            </button>
            <a id="download_env_button" type="button" class="btn btn-secondary" href="{% url 'filebrowser:dlenv' id__ %}" download>
                <i class="fas fa-download"></i> Télécharger l'Environnement
            </a>
        </center>
    </div>
</div>
<br/><br/>
{% include "playexo/alert.html" %}
{% block end_script %}
    <script type='text/javascript' src="{% static '/playexo/js/preview.js' %}"></script>
    <script>previewPL("{{id__}}", "{{session__.id}}");</script>
{% endblock %}
