{% load django_markdown %}
<div class="card">
    <div class="card-header">
        <div class="text-center"><h1>{% if 'title'%}{{ title }}{% endif %}</h1></div>
        <div class="text-left">{% if 'author' %}{{ author }}{% endif %}</div>
    </div>

    <div class="card-body">
        {% if 'text'%}
            {% with texth__=text|markdown %}
                {{ texth__|safe }}
            {% endwith %}
        {% endif %}

        <div id="feedback" class="alert feedback collapse">
            {% with feedbackh__=feedback__|markdown %}
                {{ feedbackh__|safe }}
            {% endwith %}
        </div>
        {% csrf_token %}
        <div id="form">
            {% block form %}{{ form|safe }}{% endblock %}
        </div>
        <br>
        <center>
            <button id="submit_button" class="btn btn-primary">
                <i class="fas fa-check"></i> Valider
            </button>
            <a id="download_env_button" type="button" class="btn btn-secondary" href="{% url 'filebrowser:dlenv' id__ %}" download>
                <i class="fas fa-download"></i> Télécharger l'Environnement
            </a>
        </center>
    </div>
</div>
<br/><br/>
{% include "playexo/alert.html" %}
{% block end_script %}
    <script>
        var submit_button = $( "#submit_button" );

        submit_button.click(function() {
            submit_button.prop('disabled', true);
 
            const inputs = getInputs();
            const data = {
                answers: inputs,
                id: "{{id__}}",
                session_id: "{{session__.id}}",
                other: [],
            }

            let status = {
                name: "preview_pl",
                requested_action: 'submit', 
                data: data, 
            };

            $.ajax({
                type : "POST",
                url : "/filebrowser/option",
                data: JSON.stringify(status, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                success: function(returned_status) {
                    status = returned_status;
                    onReturn(status.exercise, status.navigation, status.feedback);
                    submit_button.prop('disabled', false);
                },
                error: function(error) {   
                    submit_button.prop('disabled', false);
                }
            });
        });
        MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

        if(window.top != window.self) {
            $('#home-link').remove();
        }

        $( "#download_env_button" ).click(function() {
            window.onbeforeunload = function () {}
        });

        function getInputs(){
            var inputs = {};
            $( "[id^='form_']" ).each(function() {
                var id = this.id.slice(5); // name of the variable
                var value = $(this).val();
                if ($(this).is(':radio')) {
                    if($(this).is(':checked')) {
                        inputs[id]=value;
                    }
                }
                else if ($(this).is(':checkbox')) {
                    if($(this).is(':checked')) {
                        if (id in inputs) {
                            inputs[id].push(value);
                        }
                        else {
                            inputs[id] = [value]
                        }
                    }
                }
                else {
                    inputs[id]=value;
                }
            });
            return inputs;
        }

        function onReturn(exercise, navigation, feedback) {
            if (exercise) {
                $( "#preview" ).html(exercise);
            }
            if (feedback) {
                $( "#feedback" ).hide()
                setTimeout(function () {
                    $( "#feedback" ).html(feedback);
                    $( "#feedback" ).show();
                }, 100);
            }
        }
    </script>
{% endblock %}
