{% load static %}




<div class="header-nav">
    <div class="fixmenu">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           
           <!-- Brand -->
           <a class="navbar-brand" href="/">
                <img class="nav-img" width="135" height="70" src="{% static 'img/upem.png' %}" />
                Premier Langage
            </a>

            <button id="navbarToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar">        
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-graduation-cap"></i> Mes Cours</a>
                    </li>
                    {% if request.user.profile.can_load %}
                        <li class="nav-item">
                            <a class="nav-link" href="/filebrowser/"><i class="fas fa-cloud"></i> Gitload</a>
                        </li>
                    {% endif %}
                    {% if request.user.profile.can_load %}
                        <li class="nav-item">
                            <a class="nav-link" href="/documentation/"></i><i class="fas fa-book"></i> Documentation</a>
                        </li>
                    {% endif %}
                    {% if request.user.pluser.is_admin or request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/"><i class="fas fa-cog"></i> Administration</a>
                        </li>
                    {% endif %}
                </ul>
            
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-user"></i>
                            {% firstof request.user.get_full_name request.user.get_username "Non Connecté" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"><i class="fas fa-envelope"></i>&emsp;{% firstof user.email "N/A" %}</a>
                            <a class="dropdown-item" href="/profile/" style="color: inherit;"><i class="fas fa-cog"></i>&emsp;Paramètres</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/playexo/not_authenticated/"><i class="fas fa-power-off fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
