{% load static %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="height: 50px">
        <span class="navbar-toggler-icon" style="height; 40px"></span>
    </button>
    
    <div class="navbar-left" style="width: 350px">
        <img alt="UPEM" src="{% static 'img/upem.png' %}" height="44" width="88" /> 
        <a class="navbar-brand" href="/">Premier Langage</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Mes Cours</a>
            </li>
            {% if request.user.pluser.can_load %}
                <li class="nav-item">
                    <a class="nav-link" href="/gitload/">Gitload</a>
                </li>
            {% endif %}
            {% if request.user.pluser.can_load %}
                <li class="nav-item">
                    <a class="nav-link" href="/documentation/">Documentation</a>
                </li>
            {% endif %}
            {% if request.user.pluser.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Administration</a>
                </li>
            {% endif %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    {% firstof request.user.get_full_name request.user.get_username "Non Connecté" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item"><span class="glyphicon glyphicon-envelope"></span>&emsp;{% firstof user.email "N/A" %}</a>
                    <a class="dropdown-item" href="/courses/cycle_color_blindness/?from={{ request.path|urlencode }}" ><span class="glyphicon glyphicon-eye-close"></span>&emsp;Daltonisme: {{ request.user.pluser.get_color_blindness_display }}</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="/playexo/not_authenticated/"><span class="glyphicon glyphicon-off"></span></a>
            </li>
        </ul>
    </div>
</nav>
