

{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/block_chart.css' %}" />
<link rel="stylesheet" href="{% static 'css/classmanagement.css' %}" />
{% endblock %}

{% block header_script %}
<script src="{% static 'js/block_chart.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        
        <div class="panel-body">
            <h1>{{course_name}}: {{activity_name}}</h1><br>
            <div class="course-instructor-action">
                <a href="/courses/course/{{course_id}}/">Retour</a><br><br>
                <a href="/courses/course/{{course_id}}/summary/">Voir l'avancement des élèves pour le cours</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        {% for item in state %}
                            <th><div class="block course-block {{item.template}}" style="width: 20px; height: 20px;"></div>&emsp;{{item}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
            <div class="table-responsive table-hover summary-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="student-th">Élève</th>
                            {% for i in range_tp %}
                                <th><center>{% if forloop.counter < 10 %}&nbsp;{% endif %}{{ forloop.counter }}{% if forloop.counter < 10 %}&nbsp;{% endif %}</center></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for elem in student %}
                            <tr>
                                <td class="summary-td"><a href="/courses/course/{{course_id}}/student/{{elem.id}}/summary/">{% firstof elem.object.get_full_name elem.object.username %}</a></td>
                                {% for item in elem.question %}
                                    <center>
                                        <td class="summary-pl">
                                            <div class="block course-block {{item.state.template}}"><p>{{ item.name }}</p></div>
                                        </td>
                                    </center>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                      <tr>
                    </tbody>
                </table>
            </div> 
        </div>
        
    </div>
</div>

{% endblock %}
