<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <!-- Header info -->
        {% block head %}{% endblock %}
        
        <!-- Title -->
        <title>{% block title %}UPEM - PL{% endblock %}</title>
        
        <!-- Other -->
        {% block head_elements %}{% endblock %}
        
        <!-- Load the tag library -->
        {% load static %}
        {% block tag %}{% endblock %}
        
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'playexo/favicon.ico' %}" />  
        
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/pl.css' %}" />
        {% block css %}{% endblock %}
        
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
        <script src="{% static 'js/jquery_3.1.1.js' %}" ></script>
        <script src="{% static 'js/tether.min.js' %}" ></script>
        <script src="{% static 'js/popper.js' %}" ></script>
        <script src="{% static 'js/bootstrap.js' %}" ></script>
        <script src="{% static 'js/fontawesome-all.js' %}" ></script>
        {% block header_script %}{% endblock %}
    </head>
    
    <body>
        <div id="header">
            {% block topbar %}{% include "playexo/top_bar.html" %}{% endblock %}
        </div>
        <div id="content">
            {% block alert %}{% include "playexo/alert.html" %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
<!--
        <div id="footer">
            <footer class="footer">
                {% block footer %}{% include "playexo/footer.html" %}{% endblock %}
            </footer>
            <script src="{% static 'playexo/js/footer.js' %}"></script> 
        </div>
-->
    
    <script src="{% static 'js/pl.js' %}" ></script>
    {% block end_script %}{% endblock %}
    
    <!-- Copy tool -->
    <script>
        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>
    </body>
</html>

