{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/block_chart.css' %}" />
<link rel="stylesheet" href="{% static 'css/classmanagement.css' %}" />
{% endblock %}

{% block header_script %}
<script src="{% static 'js/block_chart.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1><center>{{name}}</center></h1>
        </div>
        <div class="card-body">
            {% if instructor or request.user.profile.is_admin%}
                <div class="course-instructor-action">
                    <a href="/courses/course/{{course_id}}/summary/">- Voir l'avancement des élèves pour ce cours</a>
                </div>
            {% endif %}
            
            <div class="course-instructors">
                <strong>Professeur:</strong><br>
                <div class="row">    
                    {% for item in teacher %}
                        <div class="col-md-6" style="margin-left: 10px;">{% firstof item.get_full_name item.username %} - &lt;{{item.email}}&gt;</div>
                    {% endfor %}
                </div>
            </div>
            
            {% for item in activity %}
                <div class="card course-panel{% if instructor %}-instructor{%endif%}">
                    <div class="card-body">
                        <div class="row">
                            <div style="width: calc(100% - 60px); float: left; height: 40px;">
                                <h4 class="course-activity-title">
                                    <a{% if item.open %} href="/courses/redirect/{{item.id}}"{% endif %}>
                                        {{ forloop.counter }}. {{ item.title }}
                                    </a>
                                </h4>
                            </div>
                        
                            <div style="width: 60px; float: left; height: 40px;" class="text-right pull-right">
                                <h3>
                                    {% if not item.open %}
                                        {% if instructor or request.user.profile.is_admin %}
                                            &emsp;<a href="{{ request.path }}?action=toggle_activity&id={{item.id}}"><i class="fas fa-toggle-off"></i></a>
                                        {% else %}
                                            <i class="fas fa-toggle-off">
                                        {% endif %}
                                    {% elif item.open and instructor or request.user.pluser.is_admin %}
                                        {% if instructor or request.user.profile.is_admin %}
                                            &emsp;<a href="{{ request.path }}?action=toggle_activity&id={{item.id}}"><i class="fas fa-toggle-on"></i></a>
                                        {% else %}
                                            <i class="fas fa-toggle-on">
                                        {% endif %}
                                    {% endif %}
                                    
                                </h3>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="course-activity-chart">
                                {% for elem in item.pl %}
                                    <div class="block course-block {{elem.state.template}}" style="width: calc({{item.width}}% - 2px);"><p>{{ elem.name }}</p></div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        {% if instructor %}
                            <div>
                                <a href="/courses/course/{{course_id}}/{{item.name}}/summary/">- Voir l'avancement des élèves pour cette activité</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
