

{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/block_chart.css' %}" />
<link rel="stylesheet" href="{% static 'css/classmanagement.css' %}" />
{% endblock %}

{% block header_script %}
<script src="{% static 'js/block_chart.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        
        <div class="panel-body">
            <h1>{{name}}</h1><br>
            <div class="course-instructor-action">
                <a href="/courses/course/{{course_id}}/">Retour</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        {% for item in state %}
                            <th><div class="block course-block {{item.template}}" style="width: 20px; height: 20px;"></div>&emsp;{{item}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="student-th">Élève</th>
                            {% for i in range_tp %}
                                <th><center>{{ forloop.counter }}{% if forloop.counter < 10 %}&nbsp;{% endif %}</center></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for stud in student %}
                            <tr>
                                <td class="summary-td"><a href="/courses/course/{{course_id}}/student/{{stud.id}}/summary/">{% firstof stud.object.get_full_name stud.object.username%}</a></td>
                                {% for activity in stud.activities %}
                                    <center>
                                        <td class="summary-td">
                                            <p>{{activity.name}}</p>
                                            <a class="progress progress-summary" href="/courses/course/{{course_id}}/{{activity.activity_name}}/summary/">
                                                {% for item in activity.state %}
                                                    <div class="progress-bar {{item.class}}" role="progressbar" style="width: {{item.percent}}%" aria-valuenow="{{item.percent}}" aria-valuemin="0" aria-valuemax="100">{{item.count}}</div>
                                                {% endfor %}
                                            </a>
                                        </td>
                                    </center>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                      <tr>
                    </tbody>
                </table>
            </div> 
        </div>
        
    </div>
</div>

{% endblock %}
