{% extends "classmanagement/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/block_chart.css' %}" />
<link rel="stylesheet" href="{% static 'css/classmanagement.css' %}" />
{% endblock %}

{% block header_script %}
<script src="{% static 'js/block_chart.js' %}"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        
        <div class="panel-body">
            <h1>{{course_name}}: {% firstof student.get_full_name student.username %}</h1><br>
            <div class="course-instructor-action">
                <a href="/courses/course/{{course_id}}/">Retour</a><br><br>
                <a href="/courses/course/{{course_id}}/summary/">Voir l'avancement des élèves pour le cours</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        {% for item in state %}
                            <th><div class="block course-block {{item.template}}" style="width: 20px; height: 20px;"></div>&emsp;{{item}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
            <div class="table-responsive table-hover summary-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="student-th">Activité</th>
                            <th><center>Questions</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elem in activities %}
                            <tr>
                                <td class="summary-td"><a href="/courses/course/{{course_id}}/{{elem.activity_name}}/summary/">{{ elem.name }}</a></td>
                                <center>
                                    <td class="summary-pl">
                                        {% for item in elem.pl %}
                                            <div class="block course-block {{item.state.template}}" style="width: calc({{elem.width}}% - 2px);"><p>{{ item.name }}</p></div>
                                        {% endfor %}
                                    </td>
                                </center>
                            </tr>
                        {% endfor %}
                      <tr>
                    </tbody>
                </table>
            </div> 
        </div>
        
    </div>
</div>

{% endblock %}
