<img class='navigation-icon' src='static/filebrowser/app/assets/icons/navigation/explorer.svg' matTooltip="Explorer" (click)='didTapExplorer()'/>
<img class='navigation-icon' src='static/filebrowser/app/assets/icons/navigation/search.svg' matTooltip="Search" (click)='didTapSearch()'/>
<div [matBadge]="gitBadge()" matTooltip="Git">
    <img class='navigation-icon' src='static/filebrowser/app/assets/icons/navigation/git.svg' (click)='didTapGit()'/>
</div>
<div [matBadge]="consoleBadge()" matTooltip="Console">
    <div class='navigation-icon'(click)='didTapConsole()'>
        <i class='fas fa-info'></i>
    </div>
</div>
<div class='spacer'></div>
<img class='navigation-icon' src='static/filebrowser/app/assets/icons/navigation/settings.svg'  matTooltip="Settings" (click)='didTapSettings()'/>
