<div class="editor__container">
    <div class="editor__explorer border">
        <div class='editor__tab-bar editor__tab-bar--explorer border-bottom'>
            <span>Explorer</span>
        </div>
            <nav id="navigation">
                <explorer items='$ctrl.items()'></explorer>
            </nav>
            <md-progress-circular ng-if='$ctrl.loadingExplorer' class='center-x-y' md-mode="indeterminate" md-diameter="50"></md-progress-circular>
        </div>
        <div class="editor__main border">
            <editor style='height: 100%;'></editor>
        </div>
    </div>
<div class='editor__footer'></div>