
/* remove material design focus */
*:focus {
    outline: none !important;
    border: 0 !important;
}

/* override header nav padding */
.header-nav {
    min-height: 95px;
}

/* EDITOR */
.editor {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: calc(100vh - 95px);
    padding: 0px;
    color: #5a5a5a;
    background-color: #CCCCCC11;
}

.editor__container {
    display: flex;
    flex: 1 1 auto;
    height: calc(96vh - 95px);
}

.editor__footer {
    flex: 0 1 32px;
    background-color:#CCCCCC11;
    border-top: 1px solid #5a5a5a;
    align-content: center;
    align-items: center;
    font-size: 14px;
}

.editor__tab-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
}

.center-x-y {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* Loading Indicator */
.loading {
    position: absolute;
    right: 4px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
.dots .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, .8);
    -webkit-animation: dot-dot-dot 1s linear infinite;
    animation: dot-dot-dot 1s linear infinite;
}

.dots .dot:nth-child(2) {
    animation-delay: .2s;
}

.dots .dot:nth-child(3) {
    animation-delay: .4s;
}

@keyframes dot-dot-dot {
    0%, 60%, 100% {
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
    }
    30% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
