.eval-grid-component {

    mat-card {
        margin-bottom: 16px;
    }

    mat-radio-group {
        display: flex;
        flex-direction: column;
    }

    mat-radio-button {
        margin: 5px;
    }

}
