<ion-card>
  <!-- <ion-img src="{{ static('activity/images/pltp.png') }}" width="10%"></ion-img> -->
  <!-- <img src="{{ static('activity/images/pltp.png') }}" width="10%"> -->
  <table>
    <tr>
      <td width="50%"><img src="{{ static('activity/images/pltp.png') }}" ></td>
      <td width="50%" align="center" style="vertical-align:middle; font-size:1.5em"><b>Fiche de <br>{{ nb_exos }} exercices</b></td>
    </tr>
    <tr>
      <td colspan="2">
	<ion-card-header>
          <ion-card-title>{{ title }}</ion-card-title>
	</ion-card-header>
      </td>
    </tr>
    <tr>
      <td align="center"><b>Avancement<br>sur les exos</b></td>
      <td align="center"><b>Moyenne des<br>exos traités</b></td>
    </tr>
    <tr>
      <td align="center">{{ progr|safe }}</td><td align="center">{{ quality|safe }}</td>
    </tr>
  </table>
    
    <ion-card-content>
        <ion-buttons slot="start">
            <ion-button href="{{ url('activity:play', id) }}" data-toggle="tooltip" data-placement="top" title="Lancer">
                <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>
            {% if instructor %}
            <ion-button  href="/activity/dashboard/{{ id }}/" data-toggle="tooltip" data-placement="top" title="Statistiques">
                <ion-icon slot="icon-only" name="stats"></ion-icon>
            </ion-button>
            <ion-button  href="/activity/notes/{{ id }}/" download target="_blank" data-toggle="tooltip" data-placement="top" title="Récupérer les notes">
                <ion-icon slot="icon-only" name="download"></ion-icon>
            </ion-button>
            {% if not open %}
            <ion-button href="{{ request.path }}?action=toggle_activity&id={{ id }}" data-toggle="tooltip" data-placement="top" title="Ouvrir">
                    <ion-icon slot="icon-only" name="unlock"></ion-icon>
            </ion-button>
            {% else %}
            <ion-button href="{{ request.path }}?action=toggle_activity&id={{ id }}" data-toggle="tooltip" data-placement="top" title="Fermer">
                <ion-icon slot="icon-only" name="lock"></ion-icon>
            </ion-button>
            {% endif %}
            <ion-button href="{{ url('activity:remove', id) }}" data-toggle="tooltip" data-placement="top" title="Supprimer">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button href="{{ url('activity:reload', id) }}" data-toggle="tooltip" data-placement="top" title="Reload">
                <ion-icon slot="icon-only" name="sync"></ion-icon>
            </ion-button>
            <ion-button href="{{ url('activity:moveprev', id) }}" data-toggle="tooltip" data-placement="top" title="Monter">
                <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
            </ion-button>
            <ion-button href="{{ url('activity:movenext', id) }}" data-toggle="tooltip" data-placement="top" title="Descendre">
                <ion-icon slot="icon-only" name="arrow-round-down"></ion-icon>
            </ion-button>
            {% endif %}
        </ion-buttons>
    </ion-card-content>
</ion-card>
