{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ static('activity/css/courses.css') }}"/>
{% endblock %}
{% block content %}
<ion-card>
    <ion-card-header>
        <ion-card-title>{{course_name}}: {{activity_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <section>
            <table>
                <thead> <tr> <th>Élève</th> </tr> </thead>
                <tbody>
                    {% for elem in student %}
                    <tr>
                        <td>
                            <ion-chip color="primary" outline="true">
                                <ion-icon name="contact"></ion-icon>
                                <ion-label> {{ firstof(elem.object.get_full_name(), elem.object.username) }}</ion-label>
                            </ion-chip>
                        </td>
                        {% for item in elem.question %}
                            <td>
                                <div class="block {{item.state.template}}"><p>{{ item.name }}</p></div>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Légende</h2>
            {% for item in state %}
                <div style="display: flex">
                    <div class="block {{ item.template }}" style="width: 20px; height: 20px;"></div>
                    <span>{{ item }}</span>
                </div>
            {% endfor %}
        </section>
    </ion-card-content>
</ion-card>
{% endblock %}
