.app-content {
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    --padding-start: 0px !important;
    --padding-end: 0px !important;
}

.navigation-container {
    z-index: 10;
    position: fixed;
    width: 200px;
    height: calc(100% - 64px);
    border: 0;
    overflow-y: auto !important; 
    box-shadow: 1px 1px 12px #555;
    background-color: #6c757d;
    color: #ffffff;
}

.navigation__toggle {
    z-index: 1;
    position: fixed;
    left: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #6c757d;   
    -moz-border-radius: 0 8px;
    -moz-box-shadow: 2px 0 5px #999;
    -webkit-box-shadow: 2px 0 5px #999;
    box-shadow: 2px 0 5px #999;
    -webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}

.navigation__toggle object {
    pointer-events: none;
}

.navigation {
    width: 100%;
}

.navigation a {
    font-size: 14px;
    margin: 0px !important;
    border-radius: unset !important;
}

.navigation a.active {
    border-right: 4px solid white !important;
}

.exercise {
    border: none;
}

.exercise__header {
    border: none;
}

.exercise__body {
    width: 100%;
    overflow: auto;
}