{% extends "classmanagement/base.html" %}

{% load static %}

{% block topbar %}{% endblock %}

{% block content %}
    <script src="{% static 'js/ace/ace.js' %}"></script>
    <div class="container">
        <br>
        <h1>Prévisualisation des colorisation syntaxique de l'éditeur de texte</h1>
        <hr>
        <br>
        
        {% for elem in themes %}
            <h3>{{ elem }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <h5>Python</h5>
                    <div id="editor{{elem.value}}py" style="height: 400px;">{{ sample_python }}</div>
                    <script defer>
                        var editor{{elem.value}}py = ace.edit('editor{{elem.value}}py');
                        editor{{elem.value}}py .session.setMode("ace/mode/python");
                        editor{{elem.value}}py .setTheme("{{ elem.template }}");
                    </script>
                </div>
                <div class="col-md-6">
                    <h5>C</h5>
                    <div id="editor{{elem.value}}C" style="height: 400px;">{{ sample_c }}</div>
                    <script defer>
                        var editor{{elem.value}}C = ace.edit('editor{{elem.value}}C');
                        editor{{elem.value}}C .session.setMode("ace/mode/c_cpp");
                        editor{{elem.value}}C .setTheme("{{ elem.template }}");
                    </script>
                </div>
            </div>
            <hr>
            <br>
        {% endfor %}
    </div>
{% endblock %}

