<mat-progress-bar mode="query" *ngIf='runningTask()'></mat-progress-bar>
<div class='navigation__content'>
  <mat-accordion class='accordion' multi='true'>
    <mat-expansion-panel class='repositories mat-elevation-z0' expanded='true'>
      <mat-expansion-panel-header collapsedHeight='48px' expandedHeight='48px'>
        <mat-panel-title>
          REPOSITORIES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let repo of repositories(); trackBy trackRepo">
          <div class='line pointer' [ngClass]='{ selected: isSelection(repo) }' (click)='changeSelection(repo)' [matTooltip]='repo.url'> 
              <span class='line-title' [matBadgeHidden]='repo.count === 0' [matBadge]="repo.count" matBadgePosition="after">{{repo.name}}</span>
              <div class='spacer'></div>
              <span class='line-subtitle'>{{repo.branch}}</span>
              <span [matMenuTriggerFor]="options">
                  <i class='fas fa-ellipsis-h'></i>
              </span>
          </div>
          <mat-menu #options="matMenu">
              <button mat-menu-item (click)='add(repo)' matTooltip='Add to git index'>Git Add</button>
              <button mat-menu-item (click)='push(repo)'>Git Push</button>
              <button mat-menu-item (click)='pull(repo)'>Git Pull</button>
              <button mat-menu-item (click)='status(repo)'>Git Status</button>
              <button mat-menu-item (click)='checkout(repo)'>Git Checkout</button>
          </mat-menu>
      </ng-container>
      <br/>
      <button class='clone' mat-stroked-button matTooltip='Clone' (click)='clone()'>+</button>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel class='changes mat-elevation-z0' *ngIf='selection' expanded='true'>
      <mat-expansion-panel-header collapsedHeight='48px' expandedHeight='48px'>
        <mat-panel-title>
          CHANGES IN {{selection.name | uppercase}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class='commit' *ngIf='selection.count > 0; else uptodate'>
          <input matInput placeholder="Press enter to commit" (keydown)='commit($event)' [(ngModel)]='commitMessage'>
      </mat-form-field>
        <ng-template #uptodate> <span>nothing to commit, working tree clean</span> </ng-template>
        <ng-container *ngFor="let change of selection.changes; trackBy trackChange">
            <div class='line' [ngClass]='{clickable: canOpen(change)}' [matTooltip]="change.path"> 
                <span class='line-title' [matBadge]="change.type" matBadgePosition="after" (click)='open(change)'>{{change.name}}</span>
                <div class='spacer'></div>
                <ng-container *ngIf='hasOption(change)'>
                    <span class='pointer' [matMenuTriggerFor]="menu">
                        <i class='fas fa-ellipsis-h'></i>
                      </span>
                </ng-container>
            </div>
            <mat-menu #menu="matMenu">
              <ng-container *ngFor='let option of options'>
                  <button *ngIf='option.enabled(change)' (click)='option.action(change)' mat-menu-item>
                    {{option.label}}
                  </button>
              </ng-container>
            </mat-menu>
        </ng-container>
    </mat-expansion-panel>    
  </mat-accordion>
</div>
